#!/bin/sh
TOMCATHOME=<%= @tomcat_deploy_dir %>
JAVA_HOME=<%= @tomcat_deploy_dir %>/<%= @_tomcat_jdk_version %>/jre

# Time to wait in seconds, before killing process
SHUTDOWN_WAIT=30

# Set the TOMCAT_PID location
CATALINA_HOME=<%= @_deploy_dir %>
CATALINA_BASE=<%= @_deploy_dir %>
CATALINA_PID=$CATALINA_BASE/logs/tomcat.pid
