[Unit]
Description=<%= @ds_mbscoring_app_name %> daemon

[Service]
Type=forking
PIDFile=<%= @ds_mbscoring_frlogdir %>/logs/<%= @ds_mbscoring_app_name %>.pid
ExecStart=/etc/rc.d/init.d/<%= @ds_mbscoring_app_name %> start
ExecStop=/etc/rc.d/init.d/<%= @ds_mbscoring_app_name %> stop
TimeoutStartSec=90
TimeoutStopSec=300
SuccessExitStatus=0 SIGKILL SIGTERM
StandardOutput=syslog
StandardError=syslog

User=<%= @_ds_mbscoring_user %>
Group=<%= @_ds_mbscoring_group %>

[Install]
WantedBy=multi-user.target
