#!/bin/bash
#
# Script to be used for automatic start/stop of the frmbscoringing process
#
# chkconfig: 345 80 20
#

ACTION=$1
export HDIR=<%= @ds_mbscoring_deploy_dir %>
export BINDIR=<%= @ds_mbscoring_deploy_dir%>/bin
export APPUSER=<%= @_ds_mbscoring_user %>
export LOGDIR=<%= @ds_mbscoring_frlogdir %>/logs
export PIDFILE=<%= @ds_mbscoring_frlogdir %>/logs/<%= @ds_mbscoring_app_name %>.pid

UNAME=`/usr/bin/whoami`
USAGE="${0} (start|stop|restart|status)"

function start
{
    if [ "$UNAME" == "$APPUSER" ]; then
	echo "Starting <%= @ds_mbscoring_app_name %> process"
	$HDIR/bin/startup.sh
    else
        cd $BINDIR
        su $APPUSER -c "/bin/sh startup.sh"
    fi

    if [ "$?" == "0" ]; then
	sleep 1
	pid=`cat $PIDFILE`
	echo "Successfully started the tomcat server, pid = $pid"
    else
	echo "Start error, check logfiles under $LOGDIR"
    fi

}

function stop 
{
    echo "Stopping <%= @ds_mbscoring_app_name %> process"
    if [ -f $LOGDIR/<%= @ds_mbscoring_app_name %>.pid ]; then
        pid=`cat $LOGDIR/<%= @ds_mbscoring_app_name %>.pid`
    else
        pid=`ps -ef | grep app.py | grep -v grep | grep python | awk '{print $2}'`
    fi

    if [ "$UNAME" == "$APPUSER" ]; then
        $HDIR/bin/shutdown.sh
    else
        cd $BINDIR
        su $APPUSER -c "/bin/sh shutdown.sh"
    fi

    echo "Wait to confirm application has stopped"
    sleep 5
    if [ -n ${pid} ]; then
        pcnt=`ps -ef | grep -v grep | egrep -c ${pid}`
        while [[ "$pcnt" -gt "0" ]]
	do
            sleep 30
            pcnt=`ps -ef | grep -v grep | egrep -c ${pid}`
            if [[ $pcnt -gt 0 ]]; then
                kill -9 $pid
                break
            fi
        done
    fi
}

################################################
## MAIN
################################################

if [ $ACTION == "start" ]; then
    start

elif [ $ACTION == "stop" ]; then
    stop

elif [ $ACTION == "restart" ]; then
    stop
    start

elif [ $ACTION == "status" ]; then

    if [ -f $HDIR/logs/<%= @ds_mbscoring_app_name %>.pid ]; then
        pid=`cat $LOGDIR/<%= @ds_mbscoring_app_name %>.pid`
    else
        pid=`ps -ef | grep app.py | grep -v grep | grep python | awk '{print $2}'`
    fi
    
    if [ ! -z ${pid} ]; then
        pcnt=`ps -ef | grep -v grep | egrep -c ${pid}`
        if [ "$pcnt" -eq "0" ]; then
           echo "<%= @ds_mbscoring_app_name %> process is not running"
        else
           echo "<%= @ds_mbscoring_app_name %> process is running"
        fi
    else
       echo "<%= @ds_mbscoring_app_name %> process is not running"
    fi

else 
    echo "Error - unknown option passed"
    echo "$USAGE: (start|stop|restart|status)"
fi

exit 0
