#!/bin/bash

APP_HOME=<%= @ds_mbscoring_deploy_dir %>
LOGDIR=<%= @ds_mbscoring_frlogdir %>/logs
PIDFILE=$LOGDIR/<%= @ds_mbscoring_app_name %>.pid

if [ -f $PIDFILE ]; then
	echo "Reading pid from $PIDFILE"
	read kpid < $PIDFILE
else
	echo "Get pid from ps -ef command"
	kpid=`ps -ef | grep app.py | grep -v grep | grep python | awk '{print $2}'`
fi

echo "Killing process $kpid"
kill -9 $kpid

sleep 2
rm -f $PIDFILE

exit 0
