#!/bin/bash

AC_HOME=/fr/third-party/anaconda2/bin
APP_HOME=<%= @ds_mbscoring_deploy_dir %>/webApi/fantastic-umbrella
LOGDIR=<%= @ds_mbscoring_frlogdir %>/logs
PIDFILE=$LOGDIR/<%= @ds_mbscoring_app_name %>.pid

cd $APP_HOME
nohup $AC_HOME/python app.py > $LOGDIR/scoring.log 2>&1 &

sleep 5
ps -ef | grep app.py | grep -v grep | grep python | awk '{print $2}' > $PIDFILE
exit 0
