[Unit]
Description=frsolrtomcat472 daemon

[Service]
Type=forking
PIDFile=<%= @_solr472_services_dir %>/logs/<%= @_solr472_app_name %>.pid
ExecStart=<%= @solr472_bin %>/startup.sh
ExecStop=<%= @solr472_bin %>/shutdown.sh
TimeoutStartSec=30
TimeoutStopSec=310
SuccessExitStatus=0 SIGKILL SIGTERM
StandardOutput=syslog
StandardError=syslog

User=<%= @_solr472_tomcat_user %>
Group=<%= @_solr472_tomcat_group %>

[Install]
WantedBy=multi-user.target
