# Log4j configuration file.
# Available levels are DEBUG, INFO, WARN, ERROR, FATAL

log4j.rootLogger=ERROR, A1, A2, ERRORLOG
log4j.rootLogger=INFO, A2
log4j.additivity.org.apache.solr=false
log4j.additivity.org.apache.lucene=false

# A1 is a ConsoleAppender.
log4j.appender.A1=org.apache.log4j.ConsoleAppender
log4j.appender.A1.layout=org.apache.log4j.PatternLayout
log4j.appender.A1.layout.ConversionPattern=[%-5p] [%-d] [%t] [%c{2}] - [%m]%n

#
# A2 is a RollingFileAppender
#
log4j.appender.A2=org.apache.log4j.RollingFileAppender
log4j.appender.A2.file=<%= @solr472_logs %>/solr.log
log4j.appender.A2.MaxFileSize=10MB
# Keep 100 backup files i.e. 1GB logs max
log4j.appender.A2.MaxBackupIndex=100
log4j.appender.A2.append=true
log4j.appender.A2.layout=org.apache.log4j.PatternLayout
log4j.appender.A2.layout.ConversionPattern=[%-5p] [%-d] [%t] [%c{2}] - [%m]%n

# ERRORLOG is a DailyRollingFileAppender
log4j.appender.ERRORLOG=org.apache.log4j.DailyRollingFileAppender
log4j.appender.ERRORLOG.file=<%= @solr472_logs %>/ERRORLOG.log
log4j.appender.ERRORLOG.DatePattern='.' yyyy-MM-dd
log4j.appender.ERRORLOG.append=true
log4j.appender.ERRORLOG.layout=org.apache.log4j.PatternLayout
log4j.appender.ERRORLOG.layout.ConversionPattern=[%-5p] [%-d] [%t] [%c{2}] - [%m]%n
log4j.appender.ERRORLOG.append=true
log4j.appender.ERRORLOG.Threshold=ERROR

# Additional log controls.
log4j.logger.org.apache.solr = INFO, A2
log4j.logger.org.apache.lucene = INFO, A2
log4j.logger.org = ERROR, A1, A2
log4j.logger.httpclient.wire=ERROR, A1, A2

