#!/bin/sh
TOMCATHOME=<%= @_solr472_tomcat_home_dir %>
JAVA_HOME=<%= @solr472_jdk_dir %>/jre

# Time to wait in seconds, before killing process
SHUTDOWN_WAIT=30

# Set the TOMCAT_PID location
CATALINA_HOME=<%= @_solr472_tomcat_home_dir %>
CATALINA_BASE=<%= @_solr472_services_dir %>
CATALINA_PID=$CATALINA_BASE/logs/<%= @_solr472_app_name %>.pid
GCLOGFILENAME=gclog-`date +%Y%m%d-%H%M%S`.txt
GCFILEPATH=<%= @solr472_logs %>

JAVA_OPTS="$JVM_OPTS -server -Xms<%= @_solr472_min_memory %> -Xmx<%= @_solr472_max_memory %> -Xloggc:<%= @solr472_logs %>/gclog.txt -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=<%= @solr472_logs %> -Dlog4j.configuration=file://<%= @_solr472_services_dir %>/conf/log4j.properties -Dsun.rmi.dgc.client.gcInterval=3600000 -Dsun.rmi.dgc.server.gcInterval=3600000"
