<?xml version="1.0" encoding="UTF-8"?>
<Context docBase="<%= @_solr472_deploy_dir %>/solr.war" debug="0" privileged="true" allowLinking="true" crossContext="true">
        <Environment name="solr/home" type="java.lang.String" value="<%= @_solr472_data_dir %>" override="true" />
</Context>
