[Unit]
Description=frmadealdocs daemon

[Service]
Type=forking
PIDFile=<%= @ds_ma_dealdocs_frlogdir %>/logs/dpf.pid
ExecStart=<%= @ds_ma_dealdocs_deploy_dir %>/bin/startup.sh
ExecStop=<%= @ds_ma_dealdocs_deploy_dir %>/bin/shutdown.sh
TimeoutStartSec=30
TimeoutStopSec=310
SuccessExitStatus=0 SIGKILL SIGTERM
StandardOutput=syslog
StandardError=syslog

User=<%= @_ds_ma_dealdocs_user %>
Group=<%= @_ds_ma_dealdocs_group %>

[Install]
WantedBy=multi-user.target
