<?xml version="1.0" encoding="UTF-8"?>
<pipeline name="MADealDocsPipeline">
    <numThreads>1</numThreads>
    <queueSize>50</queueSize>
    <databaseInfo>
        <type>solr</type>
        <oldSolr>true</oldSolr>
        <path><%= @_ds_ma_dealdocs_doc_solr_url %></path>
        <name></name>
        <userName></userName>
        <password></password>
    </databaseInfo>
    <queryInfo>
        <query>catIdPassing:(254884 3352891 3353232 3353235)</query>
        <querySize>100</querySize>
        <filter></filter>
        <sortField>id</sortField>
        <sortAsc>true</sortAsc>
        <sortFieldStartValue>762270089</sortFieldStartValue>
        <sortFieldEndValue></sortFieldEndValue>
        <numRecsToEndAfter></numRecsToEndAfter>
        <returnField>id</returnField>
        <returnField>title</returnField>
        <returnField>summary</returnField>
    </queryInfo>
    <processorInfo>
        <className>com.firstrain.madealdocs.TagMADealDocsProcessor</className>
        <order>1</order>
        <type>record</type>
        <loggerName>trace.file.logger.madealdocs</loggerName>
        <configParam>prettyPrinting=true</configParam>
        <configParam>updateApiUrl=<%= @_ds_ma_dealdocs_api_url %>/frtoolsservice/Document/updateDocMetaData</configParam>
        <configParam>regExFilePath=</configParam>
    </processorInfo>
</pipeline>
