#!/bin/bash
#
# chkconfig: 345 80 20
# Description: Startup script for the frsolrtomcat14 process.
#

HDIR=<%= @_solr14_services_dir %>
BINDIR=${HDIR}/bin
LOGDIR=${HDIR}/logs
UNAME=`/usr/bin/whoami`
TOMCAT_USER=<%= @_solr14_tomcat_user %>

start()
{
	source $HDIR/bin/setenv.sh
	if [ "$UNAME" == "$TOMCAT_USER" ]; then
		/bin/sh $BINDIR/startup.sh
	else
		cd $BINDIR
		su $TOMCAT_USER -c "/bin/sh startup.sh"
	fi

	if [ "$?" == "0" ]; then
		sleep 1
		pid=`cat $CATALINA_PID`
		echo "Successfully started the tomcat server, pid = $pid"
	else
		echo "Start error, check logfiles under $LOGDIR/catalina.out"
	fi
}

stop()
{
	source $HDIR/bin/setenv.sh
	if [ -f $CATALINA_PID ]; then
		read kpid < $CATALINA_PID 
	else
		kpid=`ps -ef | grep <%= @_solr14_app_name %>| grep java | awk '{print $2}'`
	fi
		
	if [ "$UNAME" == "$TOMCAT_USER" ]; then
		/bin/sh $BINDIR/shutdown.sh
	else
		cd $BINDIR
		su $TOMCAT_USER -c "/bin/sh shutdown.sh"
	fi
 
	count=0
        if [ "$?" -eq "0" ]; then
		echo ""
		echo "Wait for process $kpid to terminate ..."
		until [ "$(ps --pid $kpid | egrep -c $kpid )" -eq "0" ] || \
		      [ "$count" -gt "$SHUTDOWN_WAIT" ]; do
		      
			sleep 1
			let count="${count}+1"
		done
		if [ "$count" -gt "$SHUTDOWN_WAIT" ]; then
			echo "Process did not terminate on its own, force shutdown"
			kill -9 $kpid
		fi
	fi
	echo "Stop completed ..."
}

getStatus()
{
	RETVAL=1
	source $HDIR/bin/setenv.sh
	if [ -f $CATALINA_PID ]; then
		read kpid < $CATALINA_PID 
		if checkpid $kpid; then
			echo "$0 is currently running (${kpid})"
			RETVAL=0
		else
			echo "lock file found but no process for pid ${kpid}"
		fi
	else
		kpid=`ps -ef | grep frsolrtomcat14 | grep java | awk '{print $2}'`
		if [ ! -z "$kpid" ]; then
			checkpid $kpid
			if [ "$?" == "0" ]; then 
				echo "<%= @_solr14_app_name %> is currently running (${kpid})"
				RETVAL=0
			else
				echo "<%= @_solr14_app_name %> has stopped"
			fi
		else
			echo "<%= @_solr14_app_name %> has been stopped"
		fi
        fi

	return $RETVAL
}

checkpid()
{
        pid=$1
        /usr/bin/test -d /proc/${pid}
	status=$?
        return $status
}

case "$1" in 
	start)  
		  start
		  ;;

	stop) 
		  
		  stop
		  ;;

	restart)
		  stop
		  start
		  ;;

	status) 
		  getStatus
		  ;;

    *)  
          echo "$USAGE"
		  exit 1
		  ;;
esac
exit 0
