#!/bin/sh
JAVA_HOME="<%= @_solr14_tp_dir %>/<%= @_solr14_jdk_version %>/jre"
#
# # Time to wait in seconds, before killing process
SHUTDOWN_WAIT=30
#
# # Set the TOMCAT_PID location
CATALINA_PID=<%= @_solr14_services_dir %>/logs/<%= @_solr14_app_name %>.pid
CATALINA_HOME=/fr/third-party/apache-tomcat-<%= @_solr14_tomcat_version %>
CATALINA_BASE=<%= @_solr14_services_dir %>
GCLOGFILENAME=gclog-`date +%Y%m%d-%H%M%S`.txt
GCFILEPATH=<%= @solr14_logs %>

export JAVA_OPTS="$JVM_OPTS -server -Xms2048M -Xmx4096M -Xss32m -Xloggc:<%= @solr14_logs %>/gclog.txt -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=<%= @solr14_logs %> -Dlog4j.configuration=file://<%= @solr14_conf %>/log4j.properties"
