# Current logger
#logger=trace.file.logger

# Entity Solr URL
entitySolrUrl=<%= @_i2a_webapp_solr_entity %>/solr/entity

# Cache location
cacheLocation=<%= @_i2a_webapp_cache_loc %>

# Debug mode
developmentMode=<%= @_i2a_webapp_dev_mode %>
