[Unit]
Description=frrecordmgr daemon

[Service]
Type=forking
PIDFile=<%= @i2a_webapp_services_dir %>/logs/frrecordmgr.pid
ExecStart=<%= @i2a_webapp_services_dir %>/bin/startup.sh
ExecStop=<%= @i2a_webapp_services_dir %>/bin/shutdown.sh
TimeoutStartSec=90
TimeoutStopSec=240
StandardOutput=syslog
StandardError=syslog

User=<%= @_i2a_webapp_user %>
Group=<%= @_i2a_webapp_group %>

[Install]
WantedBy=multi-user.target
