<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  	<!-- PROPERTIES: constants used throughout this file -->
	<properties>
		<property name="appName">I2ARecordManager</property>
	
		<property name="logPath"><%= @i2a_webapp_frlogdir %>/cpflogs</property>
		
		<property name="maxLogFileSize">2MB</property>
		<property name="maxNumLogFiles">50</property>
		
		<property name="pattern">[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M] - %msg%xEx%n</property>
	</properties>

	<!-- APPENDERS: define where to log messages to -->
	<Appenders>
	
		<!-- Console -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}"/>
		</Console>
		
		<!-- Files -->
		<RollingFile name="File" fileName="${logPath}/${appName}.log" filePattern="${logPath}/${appName}.%i.log">
			<PatternLayout pattern="${pattern}"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
		<RollingFile name="Errors" fileName="${logPath}/${appName}.errors.log" filePattern="${logPath}/${appName}.errors.%i.log">
			<PatternLayout pattern="${pattern}"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
	</Appenders>


  	<!-- LOGGERS: define where different packages log to -->
	<Loggers>
    
		<!-- ROOT: This is the default log -->
		<Root level="warn">
			<AppenderRef ref="Console"/>
		</Root>
    
    	<Logger name="org" level="warn" additivity="false">
			<AppenderRef ref="File"/>
			<AppenderRef ref="Errors"/>
		</Logger>
		<Logger name="com" level="warn" additivity="false">
			<AppenderRef ref="File"/>
			<AppenderRef ref="Errors"/>
		</Logger>

    	<!-- FirstRain -->
		<Logger name="com.firstrain" level="info" additivity="false">
			<AppenderRef ref="File"/>
		</Logger>
		<Logger name="com.firstrain.i2a" level="info" additivity="false">
			<AppenderRef ref="File"/>
		</Logger>
		<Logger name="com.firstrain.entityinfocache" level="info" additivity="false">
			<AppenderRef ref="File"/>
		</Logger>
		
	</Loggers>
</Configuration>
