# Basic config
maSolrUrl=<%= @_i2a_webapp_solr_url %>/solr/mergerandacquistion
cwSolrUrl=<%= @_i2a_webapp_solr_url %>/solr/customerwin
poSolrUrl=<%= @_i2a_webapp_solr_url %>/solr/plantopening
mtSolrUrl=<%= @_i2a_webapp_solr_url %>/solr/managmentturn
