#!/bin/sh
JAVA_HOME=<%= @i2a_webapp_jdk_dir %>/jre

# Time to wait in seconds, before killing process
SHUTDOWN_WAIT=30

# Set the TOMCAT_PID location
CATALINA_HOME=<%= @_i2a_webapp_tomcat_home %>
CATALINA_BASE=<%= @i2a_webapp_services_dir %>
CATALINA_PID=$CATALINA_BASE/logs/<%= @i2a_webapp_app_name %>.pid
GCLOGFILENAME=gclog-`date +%Y%m%d-%H%M%S`.txt
GCFILEPATH=<%= @i2a_webapp_frlogdir %>/logs

export JAVA_OPTS="$JVM_OPTS -server -Xms128M -Xmx512M -Xloggc:<%= @i2a_webapp_frlogdir %>/logs/gclog.txt -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=<%= @i2a_webapp_frlogdir %>/logs -Dlog4j.configuration=${CATALINA_BASE}/conf/log4j2.xml -Di2a.manager.properties=${CATALINA_BASE}/conf/manager.properties -Dds.entityinfo.properties=${CATALINA_BASE}/conf/entityInfoCache.properties"
