<Context docBase="<%= @ds_taglink_deploy_dir %>"> 
	<!-- below two parameter is for PipelineDriver's jsp sets. Entry jsp being PipelineInfo.jsp -->
	<Parameter name="PipelineConfigPath" value="<%= @ds_taglink_conf %>/TagLinkingPipelineConfig.xml" override="false"/>
	<Parameter name="Log4jConfigPath" value="<%= @ds_taglink_conf %>/TagLinkingCPFLog4j.properties" override="false"/>
</Context>
