# Common words file path
commonWordsPath=<%= @dswebapp_services_dir %>/conf/commonWords.txt

# Company word synonyms file path
companyWordSynonymsPath=<%= @dswebapp_services_dir %>/conf/companyWordSynonyms.txt
