[Unit]
Description=frdsapps daemon

[Service]
Type=forking
PIDFile=<%= @dswebapp_services_dir %>/logs/frdsapps.pid
ExecStart=<%= @dswebapp_services_dir %>/bin/startup.sh
ExecStop=<%= @dswebapp_services_dir %>/bin/shutdown.sh
TimeoutStartSec=90
TimeoutStopSec=240
StandardOutput=syslog
StandardError=syslog

User=<%= @_dswebapp_tomcat_user %>
Group=<%= @_dswebapp_tomcat_group %>

[Install]
WantedBy=multi-user.target
