# Log4j configuration file.

# Available levels are DEBUG, INFO, WARN, ERROR, FATAL
log4j.rootLogger=INFO, A2

log4j.rootLogger=ERROR, A2
log4j.rootLogger=INFO, A2, ERRORLOG

log4j.logger.PerfLogging=INFO, PerfLogging
log4j.additivity.PerfLogging=false

# A2 is a DailyRollingFileAppender
log4j.appender.A2=org.apache.log4j.RollingFileAppender
log4j.appender.A2.file=<%= @dswebapp_frlogdir %>/cpflogs/TrendingThemesAPI.log
log4j.appender.A2.MaxFileSize=5MB
log4j.appender.A2.MaxBackupIndex=20
log4j.appender.A2.append=true
log4j.appender.A2.layout=org.apache.log4j.PatternLayout
log4j.appender.A2.layout.ConversionPattern=[%-5p] [%-d] [%t] [%c{2}] - [%m]%n

log4j.appender.PerfLogging=org.apache.log4j.RollingFileAppender
log4j.appender.PerfLogging.file=<%= @dswebapp_frlogdir %>/cpflogs/TrendingThemesPerf.log
log4j.appender.PerfLogging.MaxFileSize=5MB
log4j.appender.PerfLogging.MaxBackupIndex=20
log4j.appender.PerfLogging.append=true
log4j.appender.PerfLogging.layout=org.apache.log4j.PatternLayout
log4j.appender.PerfLogging.layout.ConversionPattern=[%-5p] [%-d] [%t] [%c{2}] - [%m]%n

# ERRORLOG is a DailyRollingFileAppender
log4j.appender.ERRORLOG=org.apache.log4j.RollingFileAppender
log4j.appender.ERRORLOG.file=<%= @dswebapp_frlogdir %>/cpflogs/TrendingThemesError.log
log4j.appender.ERRORLOG.MaxFileSize=5MB
log4j.appender.ERRORLOG.MaxBackupIndex=10
log4j.appender.ERRORLOG.append=true
log4j.appender.ERRORLOG.layout=org.apache.log4j.PatternLayout
log4j.appender.ERRORLOG.layout.ConversionPattern=[%-5p] [%-d] [%t] [%c{2}] - [%m]%n
log4j.appender.ERRORLOG.append=true
log4j.appender.ERRORLOG.Threshold=ERROR

log4j.logger.org = ERROR, A2
log4j.logger.org.springframework.web = DEBUG, A2
log4j.additivity.org.springframework.web = false
log4j.logger.httpclient.wire = ERROR, A2
