#!/bin/sh
JAVA_HOME=<%= @dswebapp_jdk_dir %>/jre

# Time to wait in seconds, before killing process
SHUTDOWN_WAIT=30

# Set the TOMCAT_PID location
CATALINA_HOME=<%= @_dswebapp_tomcat_home %>
CATALINA_BASE=<%= @dswebapp_services_dir %>
CATALINA_PID=$CATALINA_BASE/logs/<%= @dswebapp_app_name %>.pid
GCLOGFILENAME=gclog-`date +%Y%m%d-%H%M%S`.txt
GCFILEPATH=<%= @dswebapp_frlogdir %>/logs

CATALINA_OPTS="-Dcom.sun.management.jmxremote.port=4444 -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false"

export JAVA_OPTS="$JVM_OPTS -server -Xms1024M -Xmx6144M -Xloggc:<%= @dswebapp_frlogdir %>/logs/gclog.txt -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=<%= @dswebapp_frlogdir %>/logs -DtagLinking.properties=${CATALINA_BASE}/conf/taglinking.properties -DdsEntityInfoCache.properties=${CATALINA_BASE}/conf/dsentityinfocache.properties -DindexUrl='http://<%= @_dswebapp_index_url %>/solr/taglinking' -DentityUrl='http://<%= @_dswebapp_entity_url %>/solr/entity' -DcategorizationUtils.properties=<%= @dswebapp_services_dir %>/conf/categorizationUtils.properties"
