<?xml version="1.0" encoding="UTF-8"?>
<Context docBase="<%= @solr14_docroot %>">
    <Environment name="solr/home" type="java.lang.String" value="<%= @_solr14_data_dir %>/multicore" override="true" />
</Context>

