[Unit]
Description=frregiontagging daemon

[Service]
Type=forking
PIDFile=<%= @ds_regiontag_frlogdir %>/logs/dpf.pid
ExecStart=<%= @ds_regiontag_deploy_dir %>/bin/startup.sh
ExecStop=<%= @ds_regiontag_deploy_dir %>/bin/shutdown.sh
TimeoutStartSec=30
TimeoutStopSec=310
SuccessExitStatus=0 SIGKILL SIGTERM
StandardOutput=syslog
StandardError=syslog

User=<%= @_ds_regiontag_user %>
Group=<%= @_ds_regiontag_group %>

[Install]
WantedBy=multi-user.target
