<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" shutdownHook="disable">
	<properties>
		<property name="dpfName">DataProcessingFramework</property>
		<property name="regionfilters">RegionsPipeline</property>
		
		<property name="logPath"><%= @ds_regiontag_frlogdir %>/dpflogs</property>
		
		<property name="maxLogFileSize">20MB</property>
		<property name="maxNumLogFiles">50</property>
	</properties>
	
	<appenders>
		<Console name="ConsoleDPF" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${dpfName} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsDPF" fileName="${logPath}/${dpfName}.log" filePattern="${logPath}/${dpfName}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
		
		<Console name="ConsoleDSDocs" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${regionfilters} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsDSDocs" fileName="${logPath}/${regionfilters}.log" filePattern="${logPath}/${regionfilters}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
		
	</appenders>
	
	<loggers>
		<root level="info">
			<appender-ref ref="ConsoleDPF"/>
		</root>
		
		<!-- DataProcessingFramework loggers -->
		<logger name="info.console.logger.dpf" level="info" additivity="false">
			<appender-ref ref="ConsoleDPF"/>
		</logger>
		<logger name="trace.console.logger.dpf" level="trace" additivity="false">
			<appender-ref ref="ConsoleDPF"/>
		</logger>
		
		<logger name="error.file.logger.dpf" level="error" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		<logger name="info.file.logger.dpf" level="info" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		<logger name="trace.file.logger.dpf" level="trace" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		
		<!-- Data Science Docs loggers -->
		<logger name="info.console.logger.regionfilters" level="info" additivity="false">
			<appender-ref ref="ConsoleDSDocs"/>
		</logger>
		<logger name="trace.console.logger.regionfilters" level="trace" additivity="false">
			<appender-ref ref="ConsoleDSDocs"/>
		</logger>
		<logger name="error.file.logger.regionfilters" level="error" additivity="false">
			<appender-ref ref="LogsDSDocs"/>
		</logger>
		<logger name="error.file.logger.regionmodifier" level="error" additivity="false">
			<appender-ref ref="LogsDSDocs"/>
		</logger>
		<logger name="info.file.logger.regionfilters" level="info" additivity="false">
			<appender-ref ref="LogsDSDocs"/>
		</logger>
		<logger name="info.file.logger.regionmodifier" level="info" additivity="false">
			<appender-ref ref="LogsDSDocs"/>
		</logger>
		<logger name="trace.file.logger.regionfilters" level="trace" additivity="false">
			<appender-ref ref="LogsDSDocs"/>
		</logger>
		<logger name="trace.file.logger.regionmodifier" level="trace" additivity="false">
			<appender-ref ref="LogsDSDocs"/>
		</logger>
	</loggers>
</configuration>
