<?xml version="1.0" encoding="UTF-8"?>
<pipeline name="RegionFiltersPipeline">
    <numThreads>3</numThreads>
    <queueSize>200</queueSize>
    <databaseInfo>
    	<type>solr</type>
    	<oldSolr>false</oldSolr>
        <path><%= @_ds_regiontag_doc_solr_url %>/solr/DSDocs</path>
        <name></name>
        <userName></userName>
        <password></password>
    </databaseInfo>
    <queryInfo>  
        <query>body:[* TO *] AND catId:[* TO *]</query>
     	<querySize>100</querySize>
     	<filter>catId:(1470716 1570247 1570250 1570709 1570774 1570777 1570780 1570783 1570786 1570789 280202 284528 284713 284730 285398 291984 295797 298904 299706 300059 302214 303837 303839 305225 305873 312162 313791 314363 314364 314365 314378 314552 314746 315163 315164 315165 315166 315258 315396 315450 315451 315452 315457 315458 315461 315465 315468 315469 315470 315471 315472 315473 315483 315484 315485 315487 315497 315498 315511 315515 315717 315718 315803 315804 316069 316070 316098 316203 316209 316212 316213 316214 316215 316219 316220 316221 316224 316233 316234 316235 316236 316237 316238 316240 316241 316243 317639 320552 320553 320554 320555 320556 320557 320558 320560 320666 320667 320669 320673 320676 320681 320683 320684 320686 320690 320692 320694 320696 320698 320700 320702 320703 320704 320705 320792 320795 320798 320801 320803 320807 320817 320819 320821 320824 320827 320829 320831 320836 320839 320841 320846 320849 320851 320854 320857 320861 320871 320873 320877 320882 320888 320891 320896 320899 325236 325237 325238 325239 325240 325241 325242 325243 325244 325245 325246 325247 325248 351554 352137 354892 355321 355326 355329 355333 355334 355335 355336 355337 355338 355339 355341 355344 355346 355348 355350 355354 355356 355358 355360 355362 355363 355365 355367 355372 355377 355378 355381 355383 355385 355392 355394 355398 355400 355409 387958 387959 387960 387961 387962 387963 387964 387968 387993 387994 387995 387999 388000 388001 388002 388003 388004 388005 388079 388082 388085 388088 388091 388094 388097 388098 388103 388106 388109 388112 388115 388116 388121 388124 388245 388248 388250 388255 388256 388259 388261 388262 388264 388267 388269 388270 388272 388275 388277 388279 389097 397525 4289395 4289403 4289406 493831 499164 499169 499172 499175 499199 499247 499253 499467 499470 499473 499476 499479 499482 499485 499488 499491 499494 499497 499500 526973 5544649 635871 703968 704900 706338 706533)</filter>
        <sortField>siteDocId</sortField>
        <sortAsc>true</sortAsc>
        <sortFieldStartValue>2255838183</sortFieldStartValue>
        <sortFieldEndValue></sortFieldEndValue>
        <numRecsToEndAfter></numRecsToEndAfter>
        <returnField>siteDocId</returnField>
        <returnField>title</returnField>
        <returnField>body</returnField>
        <returnField>region</returnField>
    </queryInfo>
    <processorInfo>
        <className>com.firstrain.regionfilters.processors.FilterProcessor</className>
        <order>1</order>
        <type>record</type>
        <loggerName>info.file.logger.regionfilters</loggerName>
        <configParam>neoUrl=<%= @_ds_regiontag_neo_url %>/frneo/categorizationJson.jsp</configParam>
        <configParam>updateApiPath=<%= @_ds_regiontag_api_url %>/frtoolsservice/Document/updateDocMetaData</configParam>
        <configParam>writeToMI32=true</configParam>
    </processorInfo>
</pipeline>
