#!/bin/bash

#Start script for the Data Processing Framework

JAVA_HOME=<%= @ds_regiontag_jdk_dir %>
PATH=$JAVA_HOME/bin:$PATH
DPF_HOME=<%= @ds_regiontag_deploy_dir %>
LOGDIR=<%= @ds_regiontag_frlogdir %>
APPUSER=<%= @_ds_regiontag_user %>
APPGRP=<%= @_ds_regiontag_group %>

UNAME=`whoami`
if [ -z ${UNAME} ]; then
    UNAME=guest
fi

PIDFILE=${LOGDIR}/logs/dpf.pid

export PATH JAVA_HOME DPF_HOME

# Rotate GC log if one currently exists
if [ -f ${LOGDIR}/logs/gclog_dpf.txt ]; then
    NEW_LNAME=gclog_dpf-`date +%Y%m%d-%H%M%S`.txt
    cp ${LOGDIR}/logs/gclog_dpf.txt ${LOGDIR}/logs/${NEW_LNAME}
    if [ "$UNAME" == "root" ]; then
        chown ${APPUSER}:${APPGRP} ${LOGDIR}/logs/${NEW_LNAME}
    fi
fi

if [ -f ${LOGDIR}/logs/stdout.txt ]; then
    NEW_LNAME=stdout-`date +%Y%m%d-%H%M%S`.txt
    cp ${LOGDIR}/logs/stdout.txt ${LOGDIR}/logs/${NEW_LNAME}
    if [ "$UNAME" == "root" ]; then
        chown ${APPUSER}:${APPGRP} ${LOGDIR}/logs/${NEW_LNAME}
    fi
fi

cd $DPF_HOME

#java -Xloggc:$LOGDIR/logs/gclog_dpf.txt -Xms1024M -Xmx7168M -Dlog4j.configuration=file://<%= @ds_regiontag_deploy_dir %>/conf/log4j2.xml -Dcom.sun.management.jmxremote.port=<%= @_ds_regiontag_jmxport %> -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false -cp $DPF_HOME/dpf.jar:$DPF_HOME/lib/*:$DPF_HOME/conf:$DPF_HOME com.firstrain.dpf.DataProcessingApplication > ${LOGDIR}/logs/stdout.txt 2>&1 &

java -Xloggc:$LOGDIR/logs/gclog_dpf.txt -Xms1024M -Xmx7168M -Dlog4j.configuration=file://<%= @ds_regiontag_deploy_dir %>/conf/log4j2.xml -cp $DPF_HOME/dpf.jar:$DPF_HOME/lib/*:$DPF_HOME/conf:$DPF_HOME com.firstrain.dpf.DataProcessingApplication > ${LOGDIR}/logs/stdout.txt 2>&1 &

sleep 5
ps -ef | grep <%= @ds_regiontag_app_name %> | grep java | grep -v grep | awk '{print $2}' > $PIDFILE

exit 0
