# Current logger
logger=info.prod.logger

# Number of days to look back
duration=21

# Number of results to show per pivot
numResults=50

# Minimum number of required duplicates to show a result
minDuplicates=2

# URL for Merger & Acqusition Solr
mergerAndAcquisitionUrl=http://<%= @i2a_solr_url %>/solr/mergerandacquistion

# URL for Management Turnover Solr
managmentTurnoverUrl=http://<%= @i2a_solr_url %>/solr/managmentturn

# URL for Customer Wins Solr
customerWinsUrl=http://<%= @i2a_solr_url %>/solr/customerwin

# URL for Plant Openings Solr
plantOpeningsUrl=http://<%= @i2a_solr_url %>/solr/plantopening

# URL for Product Initiatives Solr
productInitiativesUrl=http://<%= @i2a_solr_url %>/solr/productinitiatives
