[Unit]
Description=frsolrtomcat472 daemon

[Service]
Type=forking
PIDFile=<%= @_i2a_solr_services_dir %>/logs/<%= @_i2a_solr_app_name %>.pid
ExecStart=<%= @i2a_solr_bin %>/startup.sh
ExecStop=<%= @i2a_solr_bin %>/shutdown.sh
TimeoutStartSec=30
TimeoutStopSec=310
SuccessExitStatus=0 SIGKILL SIGTERM
StandardOutput=syslog
StandardError=syslog

User=<%= @_i2a_solr_tomcat_user %>
Group=<%= @_i2a_solr_tomcat_group %>

[Install]
WantedBy=multi-user.target
