#!/bin/sh
TOMCATHOME=<%= @_tomcat_home_dir %>
JAVA_HOME=<%= @_i2a_solr_jdk_dir %>/jre

# Time to wait in seconds, before killing process
SHUTDOWN_WAIT=30

# Set the TOMCAT_PID location
CATALINA_HOME=<%= @_tomcat_home_dir %>
CATALINA_BASE=<%= @_i2a_solr_services_dir %>
CATALINA_PID=$CATALINA_BASE/logs/<%= @_i2a_solr_app_name %>.pid
GCLOGFILENAME=gclog-`date +%Y%m%d-%H%M%S`.txt
GCFILEPATH=<%= @i2a_solr_logs %>

JAVA_OPTS="$JVM_OPTS -server -Xms1024M -Xmx<%= @_i2a_solr_max_memory %> -Xloggc:<%= @i2a_solr_logs %>/gclog.txt -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=<%= @i2a_solr_logs %> -Dlog4j.configuration=file://<%= @_i2a_solr_services_dir %>/conf/log4j.properties -Dsun.rmi.dgc.client.gcInterval=3600000 -Dsun.rmi.dgc.server.gcInterval=3600000"
