[Unit]
Description=frregionrelevancy daemon

[Service]
Type=forking
PIDFile=<%= @ds_regionrel_frlogdir %>/logs/<%= @ds_regionrel_app_name %>.pid
ExecStart=<%= @ds_regionrel_deploy_dir %>/bin/startup.sh
ExecStop=<%= @ds_regionrel_deploy_dir %>/bin/shutdown.sh
TimeoutStartSec=30
TimeoutStopSec=310
SuccessExitStatus=0 SIGKILL SIGTERM
StandardOutput=syslog
StandardError=syslog

User=<%= @_ds_regionrel_user %>
Group=<%= @_ds_regionrel_group %>

[Install]
WantedBy=multi-user.target
