<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" shutdownHook="disable">
	<properties>
		<property name="dpfName">DataProcessingFramework</property>
		<property name="regionRelevancy">RegionRelevancyScoringPipeline</property>
		
		<property name="logPath"><%= @ds_regionrel_frlogdir %>/dpflogs</property>
		
		<property name="maxLogFileSize">20MB</property>
		<property name="maxNumLogFiles">50</property>
	</properties>
	
	<appenders>
		<Console name="ConsoleDPF" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${dpfName} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsDPF" fileName="${logPath}/${dpfName}.log" filePattern="${logPath}/${dpfName}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
		
		<Console name="ConsoleRegionRelevancy" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${regionRelevancy} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsRegionRelevancy" fileName="${logPath}/${regionRelevancy}.log" filePattern="${logPath}/${regionRelevancy}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
		
	</appenders>
	
	<loggers>
		<root level="info">
			<appender-ref ref="ConsoleDPF"/>
		</root>
		
		<!-- DataProcessingFramework loggers -->
		<logger name="info.console.logger.dpf" level="info" additivity="false">
			<appender-ref ref="ConsoleDPF"/>
		</logger>
		<logger name="trace.console.logger.dpf" level="trace" additivity="false">
			<appender-ref ref="ConsoleDPF"/>
		</logger>
		
		<logger name="error.file.logger.dpf" level="error" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		<logger name="info.file.logger.dpf" level="info" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		<logger name="trace.file.logger.dpf" level="trace" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		
		<!-- Region Relevancy loggers -->
		<logger name="info.console.logger.regionrelevancy" level="info" additivity="false">
			<appender-ref ref="ConsoleRegionRelevancy"/>
		</logger>
		<logger name="trace.console.logger.regionrelevancy" level="trace" additivity="false">
			<appender-ref ref="ConsoleRegionRelevancy"/>
		</logger>
		
		<logger name="error.file.logger.regionrelevancy" level="error" additivity="false">
			<appender-ref ref="LogsRegionRelevancy"/>
		</logger>
		<logger name="info.file.logger.regionrelevancy" level="info" additivity="false">
			<appender-ref ref="LogsRegionRelevancy"/>
		</logger>
		<logger name="trace.file.logger.regionrelevancy" level="trace" additivity="false">
			<appender-ref ref="LogsRegionRelevancy"/>
		</logger>
	
	</loggers>
</configuration>
