<?xml version="1.0" encoding="UTF-8"?>
<pipeline name="RegionFiltersPipeline">
	<numThreads>5</numThreads>
	<queueSize>200</queueSize>
	<databaseInfo>
		<type>solr</type>
		<oldSolr>false</oldSolr>
		<path><%= @_ds_regionrel_dsdoc_solr_url %></path>
		<name></name>
		<userName></userName>
		<password></password>
	</databaseInfo>
	<queryInfo>
		<query>insertTime:[* TO *] AND updateTime:[* TO *]</query> 
		<filter></filter>
		<querySize>100</querySize>
		<sortField>siteDocId</sortField>
		<sortAsc>true</sortAsc>
		<sortFieldStartValue><%= @_ds_regionrel_sitedocid_start %></sortFieldStartValue>
		<sortFieldEndValue></sortFieldEndValue>
		<numRecsToEndAfter></numRecsToEndAfter>
		<returnField>siteDocId</returnField>
		<returnField>title</returnField>
		<returnField>body</returnField>
		<returnField>catId</returnField>
		<returnField>catScore</returnField>
		<returnField>region</returnField>
		<returnField>titleNamedEntityLocal</returnField>
		<returnField>titleNamedEntityOrg</returnField>
		<returnField>bodyNamedEntityPerson</returnField>
		<returnField>bodyNamedEntityLocal</returnField>
		<returnField>bodyNamedEntityOrg</returnField>
		<returnField>bodyNamedEntityPerson</returnField>
	</queryInfo>
	<processorInfo>
		<className>com.firstrain.regionality.relevancy.pipeline.RegionRelevancyScoringProcessor</className>
		<order>1</order>
		<type>record</type>
		<loggerName>info.file.logger.regionrelevancy</loggerName>
		<configParam>writeToMI32=true</configParam>
                <configParam>updateApi=<%= @_ds_regionrel_update_api_url %></configParam>
		<configParam>writeToDocMetacore=true</configParam>
		<configParam>docMetacoreApi=<%= @_ds_regionrel_storage_service_url %></configParam>
		<configParam>scope=regionRelevancy</configParam>
		<configParam>regionDBPath=<%= @_ds_regionrel_mysql_db %></configParam>
		<configParam>regionDBName=<%= @_ds_regionrel_mysql_dbname %></configParam>
		<configParam>regionDBUsername=<%= @_ds_regionrel_mysql_db_user %></configParam>
		<configParam>regionDBPassword=<%= @_ds_regionrel_mysql_db_passwd %></configParam>
	</processorInfo>
</pipeline>
