<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="com.firstrain.image.core,com.firstrain.image.model.config,com.firstrain.image.analysis,com.firstrain.image.transformers" />

    <bean id="springDataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close" >
	   <property name="url" value="jdbc:mysql://10.10.12.110:3306/frImages?allowMultiQueries=true&amp;useCompression=true" />
	   <property name="driverClassName" value="com.mysql.jdbc.Driver" />
	   <property name="username" value="read" />
	   <property name="password" value="me!" />
	   <property name="initialSize" value="5" />
	</bean>

    <bean id="imageServiceConfig" class="com.firstrain.image.model.config.ImageServiceConfig">
    	<property name="imageFilePath" value="<%= @_imgcrop_repository %>"/>
    	<property name="imageDisplayUrl" value="<%= @_imgcrop_display_url %>/images" />
	</bean>

    <bean id="imageMetaDataStore" class="com.firstrain.image.core.MySQLImageMetaDataStore">
    </bean>

    <bean id="imageStore" class="com.firstrain.image.core.FileSystemImageStore">
    </bean>

    <bean id="imageUtil" class="com.firstrain.image.core.FRImageUtil">
    </bean>

    <bean id="jsonUtil" class="com.firstrain.image.core.GsonUtil">
    </bean>

    <bean id="webApp" class="com.firstrain.image.service.WebApp">
    </bean>
</beans>
