#!/bin/bash
#
# Script to be used for automatic start/stop of the <%= @imgcrop_app_name %> process
#
# chkconfig: 345 80 20
#

ACTION=$1
HDIR=<%= @imgcrop_services_dir %>
BINDIR=<%= @imgcrop_bin %>
APPUSER=<%= @imgcrop_tomcat_user %>
UNAME=`/usr/bin/whoami`
USAGE="${0} (start|stop|restart|status)"

function start
{
    source $HDIR/bin/setenv.sh
    if [ "$UNAME" == "$APPUSER" ]; then
	echo "Starting <%= @imgcrop_app_name %> process"
	$HDIR/bin/catalina.sh jpda start
    else
        cd $BINDIR
        su $APPUSER -c "/bin/sh catalina.sh jpda start"
    fi

    if [ "$?" == "0" ]; then
	sleep 1
	pid=`cat $CATALINA_PID`
	echo "Successfully started the tomcat server, pid = $pid"
    else
	echo "Start error, check logfiles under $LOGDIR/catalina.out"
    fi

}

function stop 
{
    echo "Stopping <%= @imgcrop_app_name %> process"
    if [ -f $HDIR/logs/<%= @imgcrop_app_name %>.pid ]; then
        pid=`cat $HDIR/logs/<%= @imgcrop_app_name %>.pid`
    else
        pid=`ps -ef | grep <%= @imgcrop_app_name %> | grep -v grep | awk '{print $2}'`
    fi

    if [ "$UNAME" == "$APPUSER" ]; then
        $HDIR/bin/shutdown.sh
    else
        cd $BINDIR
        su $APPUSER -c "/bin/sh shutdown.sh"
    fi

    echo "Wait to confirm application has stopped"
    sleep 5
    if [ -n ${pid} ]; then
        pcnt=`ps -ef | grep -v grep | egrep -c ${pid}`
        while [[ "$pcnt" -gt "0" ]]
	do
            sleep 30
            pcnt=`ps -ef | grep -v grep | egrep -c ${pid}`
            if [[ $pcnt -gt 0 ]]; then
                kill -9 $pid
                break
            fi
        done
    fi
}

################################################
## MAIN
################################################

if [ $ACTION == "start" ]; then
    start

elif [ $ACTION == "stop" ]; then
    stop

elif [ $ACTION == "restart" ]; then
    stop
    start

elif [ $ACTION == "status" ]; then

    if [ -f $HDIR/logs/<%= @imgcrop_app_name %>.pid ]; then
        pid=`cat $HDIR/logs/<%= @imgcrop_app_name %>.pid`
    else
        pid=`ps -ef | grep <%= @imgcrop_app_name %> | grep java | awk '{print $2}'`
    fi
    
    if [ ! -z ${pid} ]; then
        pcnt=`ps -ef | grep -v grep | egrep -c ${pid}`
        if [ "$pcnt" -eq "0" ]; then
           echo "<%= @imgcrop_app_name %> process is not running"
        else
           echo "<%= @imgcrop_app_name %> process is running"
        fi
    else
       echo "<%= @imgcrop_app_name %> process is not running"
    fi

else 
    echo "Error - unknown option passed"
    echo "$USAGE: (start|stop|restart|status)"
fi

exit 0
