log4j.rootLogger=INFO, A1, A2
log4j.logger.org.apache.commons.httpclient=ERROR

# Available levels are DEBUG, INFO, WARN, ERROR, FATAL
#
# A1 is a ConsoleAppender
#
log4j.appender.A1=org.apache.log4j.ConsoleAppender
log4j.appender.A1.layout=org.apache.log4j.PatternLayout
log4j.appender.A1.layout.ConversionPattern=%-5p %d{ISO8601} [%t] [%c{2}] - %m%n

#
# A2 is a DailyRollingFileAppender
#

log4j.appender.A2=org.apache.log4j.RollingFileAppender
log4j.appender.A2.file=<%= @imgcrop_frlogdir %>/cpflogs/ImageService.log
log4j.appender.A2.MaxFileSize=10MB
log4j.appender.A2.MaxBackupIndex=10
log4j.appender.A2.append=true
log4j.appender.A2.layout=org.apache.log4j.PatternLayout
log4j.appender.A2.layout.ConversionPattern=%-5p %d{ISO8601} [%t] [%c{2}] - %m%n
