JAVA_HOME=<%= @imgcrop_jdk_dir %>/jre

LD_LIBRARY_PATH=/usr/local/lib:/usr/local/apr/lib:<%= @imgcrop_deploy_dir %>/WEB-INF/lib:${LD_LIBRARY_PATH}
export LD_LIBRARY_PATH

# Time to wait in seconds, before killing process
SHUTDOWN_WAIT=300

# Set the TOMCAT_PID location
CATALINA_HOME=<%= @_imgcrop_tomcat_home %>
CATALINA_BASE=<%= @imgcrop_services_dir %>
CATALINA_PID=$CATALINA_BASE/logs/<%= @imgcrop_app_name %>.pid
GCLOGFILENAME=gclog-`date +%Y%m%d-%H%M%S`.txt
GCFILEPATH=<%= @imgcrop_frlogdir %>/logs
echo gclog file is: gclog-`date +%Y%m%d-%H%M%S`.txt
ln -sfv ${GCFILEPATH}/${GCLOGFILENAME} ${GCFILEPATH}/gclog.txt

# Tesseract Environment variables
TESSDATA_PREFIX=/usr/local/share
export TESSDATA_PREFIX

#JPDA Transport options
JPDA_TRANSPORT=dt_socket
JPDA_ADDRESS=60803
JPDA_SUSPEND=n

# Set JVM options
export JAVA_OPTS="$JVM_OPTS -server -Xms2048M -Xmx4608M -Xss32m -Xloggc:<%= @imgcrop_frlogdir %>/logs/gclog.txt -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/frlogdir/frimgcropservice/logs -Djava.library.path=${LD_LIBRARY_PATH} -Djava.util.logging.config.file=<%= @imgcrop_conf %>/logging.properties"

