<?xml version="1.0" encoding="UTF-8"?>
<pipeline name="CreditRelevancyScoringPipeline">
    <numThreads>5</numThreads>
    <queueSize>200</queueSize>
    <databaseInfo>
    	<type>solr</type>
    	<oldSolr>true</oldSolr>
        <path><%= @_ds_creditrel_doc_solr_url %></path>
        <name></name>
        <userName></userName>
        <password></password>
    </databaseInfo>
    <queryInfo>  
    	<query>*:*</query>
     	<filter></filter>
     	<querySize>100</querySize>
        <sortField>id</sortField>
        <sortAsc>true</sortAsc>
        <sortFieldStartValue><%= @_ds_creditrel_id_start %></sortFieldStartValue>
        <sortFieldEndValue></sortFieldEndValue>
        <numRecsToEndAfter></numRecsToEndAfter>
        <returnField>id</returnField>
        <returnField>title</returnField>
        <returnField>summary</returnField>
    </queryInfo>
    <processorInfo>
        <className>com.firstrain.creditrelevancy.pipeline.CreditRelevancyScoringProcessor</className>
        <order>1</order>
        <type>record</type>
        <loggerName>info.file.logger.creditrelevancy</loggerName> 
        <configParam>modelApi=<%= @_ds_creditrel_model_api_url %></configParam>
        <configParam>frStorageUrl=<%= @_ds_creditrel_storage_service_url %></configParam>
        <configParam>scope=moodysCreditRelevancy</configParam>
        <configParam>version=v1.0</configParam>
        <configParam>writeToMetacore=true</configParam>
    </processorInfo>
</pipeline>
