[Unit]
Description=frcreditrelscore daemon

[Service]
Type=forking
PIDFile=<%= @ds_creditrel_frlogdir %>/logs/<%= @ds_creditrel_app_name %>.pid
ExecStart=<%= @ds_creditrel_deploy_dir %>/bin/startup.sh
ExecStop=<%= @ds_creditrel_deploy_dir %>/bin/shutdown.sh
TimeoutStartSec=30
TimeoutStopSec=310
SuccessExitStatus=0 SIGKILL SIGTERM
StandardOutput=syslog
StandardError=syslog

User=<%= @_ds_creditrel_user %>
Group=<%= @_ds_creditrel_group %>

[Install]
WantedBy=multi-user.target
