#!/bin/bash

#Start script for the Data Processing Framework

JAVA_HOME=<%= @ds_creditrel_jdk_dir %>
PATH=$JAVA_HOME/bin:$PATH
DPF_HOME=<%= @ds_creditrel_deploy_dir %>
LOGDIR=<%= @ds_creditrel_frlogdir %>

PIDFILE=${LOGDIR}/logs/<%= @ds_creditrel_app_name %>.pid

export PATH JAVA_HOME DPF_HOME

cd $DPF_HOME

java -Xloggc:$LOGDIR/logs/gclog_dpf.txt -Xms512M -Xmx5120M -Dlog4j.configuration=file://<%= @ds_creditrel_deploy_dir %>/conf/log4j2.xml -cp $DPF_HOME/DataProcessingFramework.jar:$DPF_HOME/lib/*:$DPF_HOME/conf:$DPF_HOME com.firstrain.dpf.DataProcessingFramework > ${LOGDIR}/logs/stdout.txt 2>&1 &

sleep 5
ps -ef | grep <%= @ds_creditrel_app_name %> | grep -v grep | grep java | awk '{print $2}' > $PIDFILE

exit 0
