app.authConfigPath=<%= @frsso_services_dir %>/appconf/authConfig.json
proxy.proxyUrl=<%= @_frsso_proxy_url %>
applications.orionUrl=<%= @_frsso_orion_url %>
fr.mobileApiUrl=<%= @_frsso_mobile_api_url %>
app.simulateAuthEmailPattern=.*ibm.com
fr.userActivityApiUrl=<%= @_frsso_user_activity_url %>
