[Unit]
Description=frsso daemon

[Service]
Type=forking
PIDFile=<%= @frsso_services_dir %>/logs/frsso.pid
ExecStart=/etc/rc.d/init.d/frsso start
ExecStop=/etc/rc.d/init.d/frsso stop
TimeoutStartSec=90
TimeoutStopSec=240
StandardOutput=syslog
StandardError=syslog

User=<%= @_frsso_user %>
Group=<%= @_frsso_group %>

[Install]
WantedBy=multi-user.target
