#!/bin/bash
#
# Script to be used for automatic start/stop of the ${SERVICENAME} process
#
# chkconfig: 345 80 20
#

ACTION=$1
SERVICENAME=<%= @frsso_app_name %>
HDIR=<%= @frsso_services_dir %>
BINDIR=<%= @frsso_bin%>
APPUSER=<%= @_frsso_user %>
UNAME=`/usr/bin/whoami`

# Path to the tomcat launch script
TOMCAT_SCRIPT="${TOMCATHOME}/bin/catalina.sh"
USAGE="${0} (start|stop|restart|status)"

# For SELinux we need to use 'runuser' not 'su'
if [ -x "/sbin/runuser" ]; then
    SU="/sbin/runuser"
else
    SU="su"
fi

# Define the tomcat log file
function start
{
    source $HDIR/bin/setenv.sh
    if [ "$UNAME" == "$APPUSER" ]; then
	echo "Starting ${SERVICENAME} process"
	$HDIR/bin/startup.sh
    else
        cd $BINDIR
        su $APPUSER -c "/bin/sh startup.sh"
    fi

    if [ "$?" == "0" ]; then
	sleep 1
	pid=`cat $CATALINA_PID`
	echo "Successfully started the tomcat server, pid = $pid"
    else
	echo "Start error, check logfiles under $LOGDIR/catalina.out"
    fi

}

function stop 
{
    echo "Stopping ${SERVICENAME} process"
    if [ -f $HDIR/logs/${SERVICENAME}.pid ]; then
        pid=`cat $HDIR/logs/${SERVICENAME}.pid`
        echo ${oid}
    else
        pid=`ps -ef | grep ${SERVICENAME} | grep -v grep | awk '{print $2}'`
	echo "ps -ef" ${pid}
    fi

    if [ "$UNAME" == "$APPUSER" ]; then
       $HDIR/bin/shutdown.sh
    else
        cd $BINDIR
        su $APPUSER -c "/bin/sh shutdown.sh"
    fi

    echo "Wait to confirm application has stopped"
    sleep 5
    if [ -n ${pid} ]; then
        pcnt=`ps -ef | grep -v grep | egrep -c ${pid}`
        while [[ "$pcnt" -gt "0" ]]
	do
            sleep 30
            pcnt=`ps -ef | grep -v grep | egrep -c ${pid}`
            if [[ $pcnt -gt 0 ]]; then
                 kill -9 $pid
                 break
            fi
        done
    fi
}

################################################
## MAIN
################################################

if [ $ACTION == "start" ]; then
    start

elif [ $ACTION == "stop" ]; then
    stop

elif [ $ACTION == "restart" ]; then
    stop
    start

elif [ $ACTION == "status" ]; then

    if [ -f $HDIR/logs/${SERVICENAME}.pid ]; then
        pid=`cat $HDIR/logs/${SERVICENAME}.pid`
    else
        pid=`ps -ef | grep ${SERVICENAME} | grep java | awk '{print $2}'`
    fi
    
    if [ ! -z ${pid} ]; then
        pcnt=`ps -ef | grep -v grep | egrep -c ${pid}`
        if [ "$pcnt" -eq "0" ]; then
           echo "${SERVICENAME} process is not running"
        else
           echo "${SERVICENAME} process is running"
        fi
    else
       echo "${SERVICENAME} process is not running"
    fi

else 
    echo "Error - unknown option passed"
    echo "$USAGE: (start|stop|restart|status)"
fi

exit 0
