# Log4j configuration file.

# Available levels are DEBUG, INFO, WARN, ERROR, FATAL
log4j.rootLogger=INFO, A2, ERRORLOG

log4j.logger.PerfLogging=INFO, PerfLogging
log4j.additivity.PerfLogging=false

# A2 is a DailyRollingFileAppender
log4j.appender.A2=org.apache.log4j.RollingFileAppender
log4j.appender.A2.file=<%= @frsso_frlogdir %>/cpflogs/frsso.log
log4j.appender.A2.MaxFileSize=5MB
log4j.appender.A2.MaxBackupIndex=20
log4j.appender.A2.append=true
log4j.appender.A2.layout=org.apache.log4j.PatternLayout
log4j.appender.A2.layout.ConversionPattern=[%-5p] [%-d] [%t] [%c{2}] - [%m]%n

log4j.appender.PerfLogging=org.apache.log4j.RollingFileAppender
log4j.appender.PerfLogging.file=<%= @frsso_frlogdir %>/cpflogs/perf.log
log4j.appender.PerfLogging.MaxFileSize=5MB
log4j.appender.PerfLogging.MaxBackupIndex=20
log4j.appender.PerfLogging.append=true
log4j.appender.PerfLogging.layout=org.apache.log4j.PatternLayout
log4j.appender.PerfLogging.layout.ConversionPattern=[%-5p] [%-d] [%t] [%c{2}] - [%m]%n

# ERRORLOG is a DailyRollingFileAppender
log4j.appender.ERRORLOG=org.apache.log4j.DailyRollingFileAppender
log4j.appender.ERRORLOG.file=<%= @frsso_frlogdir %>/cpflogs/ERRORLOG.log
log4j.appender.ERRORLOG.DatePattern='.' yyyy-MM-dd
log4j.appender.ERRORLOG.append=true
log4j.appender.ERRORLOG.layout=org.apache.log4j.PatternLayout
log4j.appender.ERRORLOG.layout.ConversionPattern=[%-5p] [%-d] [%t] [%c{2}] - [%m]%n
log4j.appender.ERRORLOG.append=true
log4j.appender.ERRORLOG.Threshold=ERROR

log4j.logger.org = ERROR, A2
log4j.logger.org.springframework.web = INFO, A2
log4j.logger.httpclient.wire = ERROR, A2
