#!/bin/sh
JAVA_HOME=<%= @frsso_jdk_dir %>/jre

# Time to wait in seconds, before killing process
SHUTDOWN_WAIT=30

# Set the TOMCAT_PID location
CATALINA_HOME=<%= @_frsso_tomcat_home %>
CATALINA_BASE=<%= @frsso_services_dir %>
CATALINA_PID=$CATALINA_BASE/logs/<%= @frsso_app_name %>.pid
GCLOGFILENAME=gclog-`date +%Y%m%d-%H%M%S`.txt
GCFILEPATH=<%= @frsso_frlogdir %>/logs

export JAVA_OPTS="$JVM_OPTS -server -Xms<%= @_frsso_min_mem_size %> -Xmx<%= @_frsso_max_mem_size %> -Xloggc:<%= @frsso_frlogdir %>/logs/gclog.txt -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=<%= @frsso_frlogdir %>/logs -Dlog4j.configuration=file://${CATALINA_BASE}/conf/log4j.properties"
