<?xml version="1.0" encoding="UTF-8"?>
<pipeline name="ExtractedPhrasesPipeline">
    <numThreads>8</numThreads>
    <queueSize>500</queueSize>
    <databaseInfo>
        <type>solr</type>
        <oldSolr>false</oldSolr>
        <path><%= @_ds_ephrase_solr_url %>/solr/DSDocs</path>
        <name></name>
        <userName></userName>
        <password></password>
    </databaseInfo>
    <queryInfo>
        <query>insertTime:[* TO *]</query>
        <querySize>1000</querySize>
        <filter></filter>
        <sortField>siteDocId</sortField>
        <sortAsc>true</sortAsc>
        <sortFieldStartValue><%= @_ds_ephrase_sitedocid_start %></sortFieldStartValue>
        <sortFieldEndValue></sortFieldEndValue>
        <numRecsToEndAfter></numRecsToEndAfter>
        <returnField>siteDocId</returnField>
        <returnField>docId</returnField>
        <returnField>groupId</returnField>
        <returnField>insertTime</returnField>
        <returnField>updateTime</returnField>
        <returnField>dayId</returnField>
        <returnField>hourId</returnField>
        <returnField>normalizedTitle</returnField>
        <returnField>body</returnField>
        <returnField>sentenceStart</returnField>
        <returnField>titleChunk</returnField>
        <returnField>titleChunkType</returnField>
        <returnField>titleChunkStart</returnField>
        <returnField>bodyChunk</returnField>
        <returnField>bodyChunkType</returnField>
        <returnField>bodyChunkStart</returnField>
        <returnField>titleNamedEntityOrg</returnField>
        <returnField>titleNamedEntityLocal</returnField>
        <returnField>titleNamedEntityPerson</returnField>
        <returnField>bodyNamedEntityOrg</returnField>
        <returnField>bodyNamedEntityOrgStart</returnField>
        <returnField>bodyNamedEntityLocal</returnField>
        <returnField>bodyNamedEntityLocalStart</returnField>
        <returnField>bodyNamedEntityPerson</returnField>
        <returnField>bodyNamedEntityPersonStart</returnField>
   </queryInfo>
   <processorInfo>
        <className>com.firstrain.extphrases.processor.ExtractedPhrasesProcessor</className>
        <order>1</order>
        <type>record</type>
        <loggerName>info.file.logger.extphrases</loggerName>
   </processorInfo>
   <processorInfo>
       <className>com.firstrain.dpf.processors.impl.Solr47Writer</className>
       <order>2</order>
       <type>record</type>
       <loggerName>info.file.logger.extphrases</loggerName>
       <configParam>targetCorePath=<%= @_ds_ephrase_solr_url %>/solr/ExtractedPhrases</configParam>
       <configParam>commitSize=100</configParam>
       <configParam>commitDelay=5</configParam>
   </processorInfo>
</pipeline>
