<?xml version="1.0" encoding="UTF-8"?>
<pipeline name="ExtractedPhrasesUpdaterPipeline">
    <numThreads>4</numThreads>
    <queueSize>500</queueSize>
    <databaseInfo>
        <type>solr</type>
        <oldSolr>false</oldSolr>
        <path><%= @_ds_ephrase_solr_url %>/solr/DSDocs/</path>
        <name></name>
        <userName></userName>
        <password></password>
    </databaseInfo>
    <queryInfo>
        <query>catId:[* TO *]</query>
        <querySize>1000</querySize>
        <filter></filter>
        <sortField>updateTime</sortField>
        <sortAsc>true</sortAsc>
        <sortFieldStartValue>2016-07-14T00:00:00.000Z</sortFieldStartValue>
        <sortFieldEndValue></sortFieldEndValue>
        <numRecsToEndAfter></numRecsToEndAfter>
        <returnField>siteDocId</returnField>
        <returnField>groupId</returnField>
        <returnField>catId</returnField>
        <returnField>catNarrow</returnField>
        <returnField>catMedium</returnField>
        <returnField>catBroad</returnField>
        <returnField>catType</returnField>
        <returnField>updateTime</returnField>
   </queryInfo>
   <processorInfo>
        <className>com.firstrain.extphrasesupdater.processors.ExtractedPhrasesUpdaterProcessor</className>
        <order>1</order>
        <type>record</type>
        <loggerName>info.file.logger.extphrasesUpdater</loggerName>
   </processorInfo>
   <processorInfo>
       <className>com.firstrain.dpf.processors.impl.Solr47Writer</className>
       <order>2</order>
       <type>record</type>
       <loggerName>info.file.logger.extphrasesUpdater</loggerName>
       <configParam>targetCorePath=<%= @_ds_ephrase_solr_url %>/solr/ExtractedPhrases</configParam>
       <configParam>commitSize=100</configParam>
       <configParam>commitDelay=5</configParam>
   </processorInfo>
</pipeline>
