[Unit]
Description=frextractedpharases daemon

[Service]
Type=forking
PIDFile=<%= @ds_ephrase_frlogdir %>/logs/dpf.pid
ExecStart=<%= @ds_ephrase_deploy_dir %>/bin/startup.sh
ExecStop=<%= @ds_ephrase_deploy_dir %>/bin/shutdown.sh
TimeoutStartSec=30
TimeoutStopSec=310
SuccessExitStatus=0 SIGKILL SIGTERM
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=90

User=<%= @_ds_ephrase_user %>
Group=<%= @_ds_ephrase_group %>

[Install]
WantedBy=multi-user.target
