<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<properties>
		<property name="dpfName">DataProcessingFramework</property>
		<property name="extPhrases">ExtractedPhrasesPipeline</property>
		<property name="extPhrasesTagger">ExtractedPhrasesTaggerPipeline</property>
		<property name="extPhrasesUpdater">ExtractedPhrasesUpdaterPipeline</property>
		
		<property name="logPath"><%= @ds_ephrase_frlogdir %>/dpflogs</property>
		
		<property name="maxLogFileSize">20MB</property>
		<property name="maxNumLogFiles">50</property>
	</properties>
	
	<appenders>
		<Console name="ConsoleDPF" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${dpfName} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsDPF" fileName="${logPath}/${dpfName}.log" filePattern="${logPath}/${dpfName}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
		
		<Console name="ConsoleExtPhrases" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${extPhrases} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsExtPhrases" fileName="${logPath}/${extPhrases}.log" filePattern="${logPath}/${extPhrases}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>

		<Console name="ConsoleExtPhrasesTagger" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${extPhrasesTagger} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsExtPhrasesTagger" fileName="${logPath}/${extPhrasesTagger}.log" filePattern="${logPath}/${extPhrasesTagger}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>

		<Console name="ConsoleExtPhrasesUpdater" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${extPhrasesUpdater} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsExtPhrasesUpdater" fileName="${logPath}/${extPhrasesUpdater}.log" filePattern="${logPath}/${extPhrasesUpdater}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
	</appenders>
	
	<loggers>
		<root level="info">
			<appender-ref ref="ConsoleDPF"/>
		</root>
		
		<!-- DataProcessingFramework loggers -->
		<logger name="info.console.logger.dpf" level="info" additivity="false">
			<appender-ref ref="ConsoleDPF"/>
		</logger>
		<logger name="trace.console.logger.dpf" level="trace" additivity="false">
			<appender-ref ref="ConsoleDPF"/>
		</logger>
		
		<logger name="error.file.logger.dpf" level="error" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		<logger name="info.file.logger.dpf" level="info" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		<logger name="trace.file.logger.dpf" level="trace" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		
		<!--Extracted Phrases loggers -->
		<logger name="info.console.logger.extphrases" level="info" additivity="false">
			<appender-ref ref="ConsoleExtPhrases"/>
		</logger>
		<logger name="trace.console.logger.extphrases" level="trace" additivity="false">
			<appender-ref ref="ConsoleExtPhrases"/>
		</logger>
		
		<logger name="error.file.logger.extphrases" level="error" additivity="false">
			<appender-ref ref="LogsExtPhrases"/>
		</logger>
		<logger name="info.file.logger.extphrases" level="info" additivity="false">
			<appender-ref ref="LogsExtPhrases"/>
		</logger>
		<logger name="trace.file.logger.extphrases" level="trace" additivity="false">
			<appender-ref ref="LogsExtPhrases"/>
		</logger>

		<!--Extracted Phrases Tagger loggers -->
		<logger name="info.console.logger.extphrasesTagger" level="info" additivity="false">
			<appender-ref ref="ConsoleExtPhrasesTagger"/>
		</logger>
		<logger name="trace.console.logger.extphrasesTagger" level="trace" additivity="false">
			<appender-ref ref="ConsoleExtPhrasesTagger"/>
		</logger>
		
		<logger name="error.file.logger.extphrasesTagger" level="error" additivity="false">
			<appender-ref ref="LogsExtPhrasesTagger"/>
		</logger>
		<logger name="info.file.logger.extphrasesTagger" level="info" additivity="false">
			<appender-ref ref="LogsExtPhrasesTagger"/>
		</logger>
		<logger name="trace.file.logger.extphrasesTagger" level="trace" additivity="false">
			<appender-ref ref="LogsExtPhrasesTagger"/>
		</logger>

		<!--Extracted Phrases Updater loggers -->
		<logger name="info.console.logger.extphrasesUpdater" level="info" additivity="false">
			<appender-ref ref="ConsoleExtPhrasesUpdater"/>
		</logger>
		<logger name="trace.console.logger.extphrasesUpdater" level="trace" additivity="false">
			<appender-ref ref="ConsoleExtPhrasesUpdater"/>
		</logger>
		
		<logger name="error.file.logger.extphrasesUpdater" level="error" additivity="false">
			<appender-ref ref="LogsExtPhrasesUpdater"/>
		</logger>
		<logger name="info.file.logger.extphrasesUpdater" level="info" additivity="false">
			<appender-ref ref="LogsExtPhrasesUpdater"/>
		</logger>
		<logger name="trace.file.logger.extphrasesUpdater" level="trace" additivity="false">
			<appender-ref ref="LogsExtPhrasesUpdater"/>
		</logger>
	</loggers>
</configuration>
