<?xml version="1.0" encoding="UTF-8"?>
<pipeline name="DSDocsTaggerPipeline">
    <numThreads>4</numThreads>
    <queueSize>500</queueSize>
    <databaseInfo>
        <type>solr</type>
        <oldSolr>true</oldSolr>
        <path><%= @_ds_docs_eng_solr_url %>/solr/doc/</path>
        <name></name>
        <userName></userName>
        <password></password>
    </databaseInfo>
    <queryInfo>
        <query>*:*</query>
        <querySize>1000</querySize>
        <filter>language:en</filter>
        <sortField>id</sortField>
        <sortAsc>true</sortAsc>
        <sortFieldStartValue>779711579</sortFieldStartValue>
        <sortFieldEndValue></sortFieldEndValue>
        <numRecsToEndAfter></numRecsToEndAfter>
        <returnField>id</returnField>
        <returnField>groupId</returnField>
        <returnField>catIdAll</returnField>
        <returnField>catBand</returnField>
        <returnField>catRelevance</returnField>
        <returnField>catRelevanceNormalized</returnField>
        <returnField>sourceId</returnField>
        <returnField>sourceName</returnField>
        <returnField>sourceRank</returnField>
        <returnField>url</returnField>
        <returnField>docScore</returnField>
   </queryInfo>
   <processorInfo>
       <className>com.firstrain.dsdocstagger.processors.DSDocsTaggerProcessor</className>
       <order>1</order>
       <type>record</type>
       <loggerName>info.file.logger.dsdocsTagger</loggerName>
       <configParam>entityCore=<%= @_ds_docs_entity_solr_url %>/solr/entity/</configParam>
   </processorInfo>
   <processorInfo>
       <className>com.firstrain.dpf.processors.impl.Solr47Writer</className>
       <order>2</order>
       <type>record</type>
       <loggerName>info.file.logger.dsdocsTagger</loggerName>
       <configParam>targetCorePath=<%= @ds_docs_target_solr_url %>/solr/DSDocs/</configParam>
       <configParam>commitSize=100</configParam>
       <configParam>commitDelay=5</configParam>
   </processorInfo>
</pipeline>
