<?xml version="1.0" encoding="UTF-8"?>
<pipeline name="DSDocsPipeline">
    <numThreads>8</numThreads>
    <queueSize>500</queueSize>
    <databaseInfo>
        <type>sql</type>
        <oldSolr>false</oldSolr>
        <path><%= @_ds_docs_mi32_db %></path>
        <name>MI32</name>
        <userName><%= @_ds_docs_mi32_user %></userName>
        <password><%= @_ds_docs_mi32_pw %></password>
    </databaseInfo>
    <queryInfo>
        <query>select top 1000 sds.doc_id, sds.site_doc_id, sds.group_id, sds.update_time, sds.insert_time, docs.dserver_doc_id, docs.remote_url, dd.doc_body from fr_site_doc_short sds with (nolock) inner join fr_documents docs with (nolock) on sds.doc_id = docs.doc_id inner join fr_doc_details dd with (nolock) on docs.doc_id = dd.doc_id where sds.flag_deleted = 0 and sds.site_doc_id > @sortfield@ order by sds.site_doc_id asc</query>
        <querySize></querySize>
        <filter></filter>
        <sortField>site_doc_id</sortField>
        <sortAsc>true</sortAsc>
        <sortFieldStartValue><%= @_ds_docs_site_doc_id_start %></sortFieldStartValue>
        <sortFieldEndValue></sortFieldEndValue>
        <numRecsToEndAfter></numRecsToEndAfter>
        <returnField></returnField>
   </queryInfo>
   <processorInfo>
       <className>com.firstrain.dsdocs.processor.DSDocsProcessor</className>
       <order>1</order>
       <type>record</type>
       <loggerName>info.file.logger.dsdocs</loggerName>
   </processorInfo>
   <processorInfo>
       <className>com.firstrain.dpf.processors.impl.Solr47Writer</className>
       <order>2</order>
       <type>record</type>
       <loggerName>info.file.logger.dsdocs</loggerName>
       <configParam>targetCorePath=<%= @_ds_docs_target_solr_url %>/solr/DSDocs</configParam>
       <configParam>commitSize=100</configParam>
       <configParam>commitDelay=5</configParam>
   </processorInfo>
</pipeline>
