[Unit]
Description=frUpdateDSDocs daemon

[Service]
Type=forking
PIDFile=<%= @ds_docs_frlogdir %>/logs/dpf.pid
ExecStart=<%= @ds_docs_deploy_dir %>/bin/startup.sh
ExecStop=<%= @ds_docs_deploy_dir %>/bin/shutdown.sh
TimeoutStartSec=30
TimeoutStopSec=310
SuccessExitStatus=0 SIGKILL SIGTERM
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=90

User=<%= @_ds_docs_user %>
Group=<%= @_ds_docs_group %>

[Install]
WantedBy=multi-user.target
