<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" shutdownHook="disable">
	<properties>
		<property name="dpfName">DataProcessingFramework</property>
		<property name="dsdocs">DSDocsPipeline</property>
		<property name="dsdocsTagger">DSDocsTaggerPipeline</property>
		<property name="dsdocsUpdater">DSDocsUpdaterPipeline</property>
		
		<property name="logPath"><%= @ds_docs_frlogdir %>/dpflogs</property>
		
		<property name="maxLogFileSize">20MB</property>
		<property name="maxNumLogFiles">50</property>
	</properties>
	
	<appenders>
		<Console name="ConsoleDPF" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${dpfName} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsDPF" fileName="${logPath}/${dpfName}.log" filePattern="${logPath}/${dpfName}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
		
		<Console name="ConsoleDSDocs" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${dsdocs} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsDSDocs" fileName="${logPath}/${dsdocs}.log" filePattern="${logPath}/${dsdocs}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
		
		<Console name="ConsoleDSDocsTagger" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${dsdocsTagger} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsDSDocsTagger" fileName="${logPath}/${dsdocsTagger}.log" filePattern="${logPath}/${dsdocsTagger}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
		
		<Console name="ConsoleDSDocsUpdater" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${dsdocsUpdater} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsDSDocsUpdater" fileName="${logPath}/${dsdocsUpdater}.log" filePattern="${logPath}/${dsdocsUpdater}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
	</appenders>
	
	<loggers>
		<root level="info">
			<appender-ref ref="ConsoleDPF"/>
		</root>
		
		<!-- DataProcessingFramework loggers -->
		<logger name="info.console.logger.dpf" level="info" additivity="false">
			<appender-ref ref="ConsoleDPF"/>
		</logger>
		<logger name="trace.console.logger.dpf" level="trace" additivity="false">
			<appender-ref ref="ConsoleDPF"/>
		</logger>
		
		<logger name="error.file.logger.dpf" level="error" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		<logger name="info.file.logger.dpf" level="info" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		<logger name="trace.file.logger.dpf" level="trace" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		
		<!-- Data Science Docs loggers -->
		<logger name="info.console.logger.dsdocs" level="info" additivity="false">
			<appender-ref ref="ConsoleDSDocs"/>
		</logger>
		<logger name="trace.console.logger.dsdocs" level="trace" additivity="false">
			<appender-ref ref="ConsoleDSDocs"/>
		</logger>
		
		<logger name="error.file.logger.dsdocs" level="error" additivity="false">
			<appender-ref ref="LogsDSDocs"/>
		</logger>
		<logger name="info.file.logger.dsdocs" level="info" additivity="false">
			<appender-ref ref="LogsDSDocs"/>
		</logger>
		<logger name="trace.file.logger.dsdocs" level="trace" additivity="false">
			<appender-ref ref="LogsDSDocs"/>
		</logger>
		
		<!-- Data Science Docs Tagger loggers -->
		<logger name="info.console.logger.dsdocsTagger" level="info" additivity="false">
			<appender-ref ref="ConsoleDSDocsTagger"/>
		</logger>
		<logger name="trace.console.logger.dsdocsTagger" level="trace" additivity="false">
			<appender-ref ref="ConsoleDSDocsTagger"/>
		</logger>
		
		<logger name="error.file.logger.dsdocsTagger" level="error" additivity="false">
			<appender-ref ref="LogsDSDocsTagger"/>
		</logger>
		<logger name="info.file.logger.dsdocsTagger" level="info" additivity="false">
			<appender-ref ref="LogsDSDocsTagger"/>
		</logger>
		<logger name="trace.file.logger.dsdocsTagger" level="trace" additivity="false">
			<appender-ref ref="LogsDSDocsTagger"/>
		</logger>
		
		<!-- Data Science Docs Updater loggers -->
		<logger name="info.console.logger.dsdocsUpdater" level="info" additivity="false">
			<appender-ref ref="ConsoleDSDocsUpdater"/>
		</logger>
		<logger name="trace.console.logger.dsdocsUpdater" level="trace" additivity="false">
			<appender-ref ref="ConsoleDSDocsUpdater"/>
		</logger>
		
		<logger name="error.file.logger.dsdocsUpdater" level="error" additivity="false">
			<appender-ref ref="LogsDSDocsUpdater"/>
		</logger>
		<logger name="info.file.logger.dsdocsUpdater" level="info" additivity="false">
			<appender-ref ref="LogsDSDocsUpdater"/>
		</logger>
		<logger name="trace.file.logger.dsdocsUpdater" level="trace" additivity="false">
			<appender-ref ref="LogsDSDocsUpdater"/>
		</logger>
	</loggers>
</configuration>
