#!/bin/bash

#Stop script for the Data Processing Framework

LOGDIR=<%= @ds_docs_frlogdir %>
PIDFILE=${LOGDIR}/logs/dpf.pid
SHUTDOWN_WAIT=300

if [ -f $PIDFILE ]; then
	echo "Reading pid from $PIDFILE"
	read kpid < $PIDFILE 
else
	echo "Grepping for pid from ps -ef command"
	kpid=`ps -ef | grep <%= @ds_docs_app_name %> | grep -v grep | awk '{print $2}'`
fi

kill -15 $kpid
counter=0

while ((counter < SHUTDOWN_WAIT))
do
    sleep 30
    echo "Waiting to verify shutdown -- count is $counter .. Timeout is $SHUTDOWN_WAIT"
    cnt=`ps -ef | grep -v grep | egrep -c $kpid`
    if [[ $cnt < "1" ]]; then
        break
    fi

    counter=$((counter+=30))
done

cnt=`ps -ef | grep -v grep | egrep -c $kpid`
if [[ "$cnt" > "0" ]]; then
    echo "Process still running .. forcing shutdown ..."
    kill -9 $kpid
fi

exit 0

