outputDir=<%= @ds_moodydata_output_dir %>
fileName=MOODYS
loggerName=<%= @_ds_moodydata_loggername %>

cityFolderId=517167
schoolDistrictFolderId=517165
keywordFolderId=517969
timeOfDay=22:00:00
numDays=1
maxSearches=-1
calculateRelevancyScoreIfMissing=true

regionRelevancyThreshold=40
creditRelevancyThreshold=35

metaDocCoreApi=<%= @_ds_moodydata_storage_service_url %>
engineeringCoreUrl=<%= @_ds_moodydata_doc_solr_url %>
dsDocsUrl=<%= @_ds_moodydata_dsdoc_solr_url %>
searchResultApi=<%= @_ds_moodydata_rest_service_url %>
creditRelevancyApi=<%= @_ds_moodydata_creditrel_api_url %>

creditRelevancyScope=moodysCreditRelevancy
creditRelevancyVersion=v1.0
regionRelevancyScope=regionRelevancy

regionDBPath=<%= @_ds_moodydata_dsdb %>
regionDBName=<%= @_ds_moodydata_dsdbname %>
regionDBUsername=<%= @_ds_moodydata_dsdb_user %>
regionDBPassword=<%= @_ds_moodydata_dsdb_passwd %>

searchDBPath=<%= @_ds_moodydata_searchdb %>
searchDBName=<%= @_ds_moodydata_searchdbname %>
searchDBUsername=<%= @_ds_moodydata_searchdb_user %>
searchDBPassword=<%= @_ds_moodydata_searchdb_passwd %>
