<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" shutdownHook="disable">
	<properties>
		<property name="name">MoodysDataGeneration</property>
		
		<property name="logPath"><%= @ds_moodydata_frlogdir %>/logs</property>
		
		<property name="maxLogFileSize">20MB</property>
		<property name="maxNumLogFiles">50</property>
	</properties>
	
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${name} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="Logs" fileName="${logPath}/${name}.log" filePattern="${logPath}/${name}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
	</appenders>
	
	<loggers>
		<root level="warn">
			<appender-ref ref="Console"/>
		</root>
		
		<logger name="info.console.logger" level="info" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="trace.console.logger" level="trace" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		
		<logger name="error.file.logger" level="error" additivity="false">
			<appender-ref ref="Logs"/>
		</logger>
		<logger name="info.file.logger" level="info" additivity="false">
			<appender-ref ref="Logs"/>
		</logger>
		<logger name="trace.file.logger" level="trace" additivity="false">
			<appender-ref ref="Logs"/>
		</logger>
	</loggers>
</configuration>
