#!/bin/bash

#Start script for the Data Processing Framework

ExitCode=0
JAVA_HOME=<%= @ds_moodydata_jdk_dir %>
PATH=$JAVA_HOME/bin:$PATH
DPF_HOME=<%= @ds_moodydata_deploy_dir %>
LOGDIR=<%= @ds_moodydata_frlogdir %>
Host=`uname -n`
ServerType=${Host:0:3}
dstr=`date -d tomorrow +"%m-%d-%Y"`

export PATH JAVA_HOME DPF_HOME

cd $DPF_HOME

java -Xloggc:$LOGDIR/logs/gclog.txt -Xms512M -Xmx1024M -Dlog4j.configuration=<%= @ds_moodydata_deploy_dir %>/conf/log4j2.xml -cp $DPF_HOME/MoodysDataGeneration.jar:$DPF_HOME/lib/*:$DPF_HOME/conf:$DPF_HOME/dslib/BasicUtils.jar:$DPF_HOME/dslib/DocUtils.jar:$DPF_HOME/dslib/FRCoreNLP.jar:$DPF_HOME/dslib/NLPUtils.jar:$DPF_HOME/dslib/RegionRelevancyScorer.jar:$DPF_HOME/dslib/Solr47Utils.jar:$DPF_HOME/dslib/SQLUtils.jar:$DPF_HOME/dslib/CreditRelevancyScorer.jar com.firstrain.moodys.calibration.DataGenerator > ${LOGDIR}/logs/stdout.txt 2>&1 

if [ $ServerType == "pds" ]; then
    if [ -f <%= @_ds_moodydata_output_rootdir %>/data/MOODYs_${dstr}.xls ]; then
        echo "Report generated ..."

        scp -v <%= @_ds_moodydata_output_rootdir %>/data/MOODYS_${dstr}.xls moodys_obligors_feed@pftp5-l.ca.firstrain.net:/ftproot/moodys_obligors_feed/feed

        rc=$? 
        if [ $rc != 0 ]; then 
            echo "Error - File did not transfer - error code is $rc"
        fi
    else
        echo "Error report generation failed - file <%= @_ds_moodydata_output_rootdir %>/data/MOODYS_${dstr}.xlx was not generated"
        ExitCode=1
    fi
fi

# cleanup old files if any present, current retention period is 7 days
find <%= @_ds_moodydata_output_rootdir %>/data -name '*.xls' -mtime +6 -exec rm -f {} \;
exit $ExitCode

