#!/bin/bash
#
# Script to be used for automatic start/stop of the <%= @ds_taglink_app_name %> process
#
# chkconfig: 345 80 20
#

ACTION=$1
HDIR=<%= @ds_taglink_services_dir %>
BINDIR=<%= @ds_taglink_bin %>
LOGDIR=<%= @ds_taglink_frlogdir %>
APPUSER=<%= @_ds_taglink_user %>
APPGRP=<%= @_ds_taglink_group %>
UNAME=`/usr/bin/whoami`
USAGE="${0} (start|stop|restart|status)"

function start
{
    source $HDIR/bin/setenv.sh
    if [ "$UNAME" == "$APPUSER" ]; then
	echo "Starting frdsapps process"
	$HDIR/bin/startup.sh
    else
        cd $BINDIR
        su $APPUSER -c "/bin/sh startup.sh"
    fi

    if [ "$?" == "0" ]; then
	sleep 1
	pid=`cat $CATALINA_PID`
	echo "Successfully started the tomcat server, pid = $pid"
    else
	echo "Start error, check logfiles under $HDIR/logs/catalina.out"
    fi

}

function stop 
{
    # Rotate GC log if one currently exists
    if [ -f ${LOGDIR}/logs/gclog.txt ]; then
        NEW_LNAME=gclog-`date +%Y%m%d-%H%M%S`.txt
        cp ${LOGDIR}/logs/gclog.txt ${LOGDIR}/logs/${NEW_LNAME}
        if [ "$UNAME" == "root" ]; then
            chown ${APPUSER}:${APPGRP} ${LOGDIR}/logs/${NEW_LNAME}
        fi
    fi

    echo "Stopping frdsapps process"
    if [ -f $HDIR/logs/<%= @ds_taglink_app_name %>.pid ]; then
        pid=`cat $HDIR/logs/<%= @ds_taglink_app_name %>.pid`
    else
        pid=`ps -ef | grep <%= @ds_taglink_app_name %> | grep -v grep | awk '{print $2}'`
    fi

    if [ "$UNAME" == "$APPUSER" ]; then
        $HDIR/bin/shutdown.sh
    else
        cd $BINDIR
        su $APPUSER -c "/bin/sh shutdown.sh"
    fi

    echo "Wait to confirm application has stopped"
    sleep 5
    if [ -n ${pid} ]; then
        pcnt=`ps -ef | grep -v grep | egrep -c ${pid}`
        while [[ "$pcnt" -gt "0" ]]
	do
            sleep 30
            pcnt=`ps -ef | grep -v grep | egrep -c ${pid}`
            if [[ $pcnt -gt 0 ]]; then
                kill -9 $pid
                break
            fi
        done
    fi
}

################################################
## MAIN
################################################

if [ $ACTION == "start" ]; then
    start

elif [ $ACTION == "stop" ]; then
    stop

elif [ $ACTION == "restart" ]; then
    stop
    start

elif [ $ACTION == "status" ]; then

    if [ -f $HDIR/logs/<%= @ds_taglink_app_name %>.pid ]; then
        pid=`cat $HDIR/logs/<%= @ds_taglink_app_name %>.pid`
    else
        pid=`ps -ef | grep <%= @ds_taglink_app_name %> | grep java | awk '{print $2}'`
    fi
    
    if [ ! -z ${pid} ]; then
        pcnt=`ps -ef | grep -v grep | egrep -c ${pid}`
        if [ "$pcnt" -eq "0" ]; then
           echo "<%= @ds_taglink_app_name %> process is not running"
        else
           echo "<%= @ds_taglink_app_name %> process is running"
        fi
    else
       echo "<%= @ds_taglink_app_name %> process is not running"
    fi

else 
    echo "Error - unknown option passed"
    echo "$USAGE: (start|stop|restart|status)"
fi

exit 0
