[Unit]
Description=frtaglinking daemon

[Service]
Type=forking
PIDFile=<%= @ds_taglink_services_dir %>/logs/frtaglinking.pid
ExecStart=<%= @ds_taglink_services_dir %>/bin/startup.sh
ExecStop=<%= @ds_taglink_services_dir %>/bin/shutdown.sh
TimeoutStartSec=90
TimeoutStopSec=300
StandardOutput=syslog
StandardError=syslog

User=<%= @_ds_taglink_user %>
Group=<%= @_ds_taglink_group %>

[Install]
WantedBy=multi-user.target
