#!/bin/sh
JAVA_HOME=<%= @ds_taglink_jdk_dir %>/jre

# Time to wait in seconds, before killing process
SHUTDOWN_WAIT=30

# Set the TOMCAT_PID location
CATALINA_HOME=<%= @_ds_taglink_tomcat_home %>
CATALINA_BASE=<%= @ds_taglink_services_dir %>
CATALINA_PID=$CATALINA_BASE/logs/<%= @ds_taglink_app_name %>.pid
GCLOGFILENAME=gclog-`date +%Y%m%d-%H%M%S`.txt
GCFILEPATH=<%= @ds_taglink_frlogdir %>/logs

export JAVA_OPTS="$JVM_OPTS -server -Xms128M -Xmx2048M -Xloggc:<%= @ds_taglink_frlogdir %>/logs/gclog.txt -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=<%= @ds_taglink_frlogdir %>/logs -XX:+UseParallelGC -XX:ParallelGCThreads=4 -Dindex.lucene=true -DentityInfo.index.rootdir=<%= @_ds_taglink_index_dir %> -Dentities.total.threshold=1500000 -Dentities.min.threshold=500"
