<framework>
	<!-- These data-sources define access to MI32 databases -->
	<data-sources>
		<data-source type="org.apache.commons.dbcp.BasicDataSource" key="MI">
			<property property="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
			<property property="url" value="jdbc:sqlserver://<%= @_ds_taglink_mi32 %>;DatabaseName=MI32;SelectMethod=direct" />
			<property property="username" value="read" />
			<property property="password" value="me!" />
			<property property="maxActive" value="-1" />
			<property property="maxWait" value="5000" />
			<property property="defaultAutoCommit" value="false" />
			<property property="defaultReadOnly" value="false" />
			<property property="validationQuery" value="select 1" />
			<property property="poolPreparedStatement" value="true" />
		</data-source>
		<data-source type="org.apache.commons.dbcp.BasicDataSource" key="MIHistory">
			<property property="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
			<property property="url" value="jdbc:sqlserver://<%= @_ds_taglink_mi32 %>;DatabaseName=MIHistory;SelectMethod=direct" />
			<property property="username" value="read" />
			<property property="password" value="me!" />
			<property property="maxActive" value="-1" />
			<property property="maxWait" value="5000" />
			<property property="defaultAutoCommit" value="false" />
			<property property="defaultReadOnly" value="false" />
			<property property="validationQuery" value="select 1" />
			<property property="poolPreparedStatement" value="true" />
		</data-source>
		<data-source type="org.apache.commons.dbcp.BasicDataSource" key="SignalsDB">
			<property property="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
			<property property="url" value="jdbc:sqlserver://<%= @_ds_taglink_mi32 %>;DatabaseName=SignalsDB;SelectMethod=direct"/>
			<property property="username" value="read"/>
			<property property="password" value="me!"/>
			<property property="maxActive" value="-1"/>
			<property property="maxWait" value="5000"/>
			<property property="defaultAutoCommit" value="false"/>
			<property property="defaultReadOnly" value="false"/>
			<property property="validationQuery" value="select 1"/>
			<property property="poolPreparedStatement" value="true"/>
		</data-source>
	</data-sources>
	<!-- Use a multithreaded environment -->
	<property name="useJavaThreadPool" value="true" />
	<!-- Specify the number of threads -->
	<property name="threads" value="8" />
	<!-- "id" is a unique identifier and name for your pipeline; "disabled" 
		specifies whether or not it is disabled; "startInactive" specifies whether 
		or not you must activate it in the PipelineMonitor -->
	<pipeline id="TagLinking Pipeline" disabled="false" startInactive="false">
		<!-- Trigger configures the process to begin as a scheduled, repeating 
			job. Use this quartz cron syntax: http://www.quartz-scheduler.org/documentation/quartz-1.x/tutorials/crontrigger 
			startTime specifies when to start the process for the first time -->
		<trigger className="org.quartz.CronTrigger" cronExpression="0 0/1 * * * ?" startTime="2014-04-04 00:00:00" />
		<!-- "concurrency" should equal the number of threads specified above -->
		<property name="concurrency" value="8" />
		<producer className="com.firstrain.content.mi.SiteDocumentRuntimeSampler">
			<property name="dataSourceMIDB" value="MI" />
			<property name="historyDBName" value="MIHistory" />
			<!-- Change this -->
			<property name="propertyPath" value="<%= @ds_taglink_conf %>/TagLinkingProgressMarker.properties" />
			<property name="batchSize" value="50" />
			<property name="sampleSize" value="100000" />
			<property name="sampleEvenly" value="false" />
			<property name="siteId" value="165" />
			<property name="unassigned" value="false" />
			<property name="startTime" value="2009-04-01 00:00:00.000" />
			<property name="endTime" value="2028-03-31 00:00:00.000" />
			<property name="lastNDays" value="1" />
			<property name="fetchPrimaryCompanyAttribution" value="true" />
			<property name="fetchQuotes" value="false" />
			<property name="quoteThreshold" value="0.2" />
			<property name="extractQuoteMetaData" value="false" />
			<property name="extraBoundarySafetyMinutes" value="10" />
			<property name="processorDbClockDiffMinutes" value="0" />
			<property name="contentFetchAttributesFRDB" value="30,35,38,63" />
			<property name="dataSourceSignalDB" value="SignalsDB" />
			<property name="eventTypes" value="350,351" />
			<property name="entityTypes" value="1,2" />
			<property name="evidenceTypes" value="1" />
			<property name="zScoreThreshold" value="-1" />
			<property name="loadCategoryMetaData" value="false" />
			<property name="loadDocPersonMatches" value="false" />
		</producer>
		<!-- Here you must specify your processors. You also have the opportunity 
			to pass in any configurable properties. -->
		<processors>
			<processor className="com.firstrain.taglinking.pipeline.TagLinkingProcessor">
				<!-- "entityCoreUrl" specifies from where to extract entity data -->
				<property name="entityCoreUrl" value="http://<%= @_ds_taglink_entity_solr %>/solr/entity"></property>
				<!-- "neoUrl" specifies from where to call the NEO categorizer service -->
				<property name="neoUrl" value="<%= @_ds_taglink_neo_url %>"></property>
				<!-- "neoJsp" specifies the JSP to call the NEO categorizer service -->
				<!-- property name="neoJsp" value="categorizationJson.jsp"></property -->
				<!-- "tagLinkingUrl" specifies the location of the TagLinking service -->
				<property name="tagLinkingUrl" value="http://<%= @_ds_taglink_service_url %>/TagLinkingServices/TagLinkingWithParameters"></property>
				<!-- "metaDataStoreUrl" specifies the location of the metadata store URL to store the results -->
				<property name="metaDataStoreUrl" value="http://<%= @_ds_taglink_storage_vs %>/frstorageservice/extendmetav1.json"></property>
				<!-- "tagLinkingSolrUrl" specifies to where to save Tag Linking data -->
				<property name="tagLinkingSolrUrl" value="http://<%= @_ds_taglink_solr %>/solr/taglinking"></property>
				<!-- "tagLinkingScoreThreshold" specifies the minimum value to consider a link valid; must be 0 <= X <= 100 -->
				<property name="tagLinkingScoreThreshold" value="20"></property>
			</processor>
		</processors>
	</pipeline>
</framework>
