# Log4j configuration file.

log4j.rootLogger=ERROR, A1
log4j.rootLogger=INFO, A2, ERRORLOG
log4j.logger.com.firstrain.content.pipeline=INFO, CORE
log4j.logger.com.firstrain.pipeline=DEBUG, A2
log4j.logger.com.firstrain.taglinking.pipeline=INFO, A2
#Uncomment this if you want to redirect the database performance logs to a separate file.  
#log4j.logger.perflog=INFO, PERF
#log4j.additivity.perflog=false

# Available levels are DEBUG, INFO, WARN, ERROR, FATAL
#
# A1 is a ConsoleAppender
#
log4j.appender.A1=org.apache.log4j.ConsoleAppender
log4j.appender.A1.layout=org.apache.log4j.PatternLayout
log4j.appender.A1.layout.ConversionPattern=%-5p %d{ISO8601} [%t] - %m%n

#
# CORE is a RollingFileAppender
#
log4j.appender.CORE=org.apache.log4j.RollingFileAppender
# Redirect this to the proper location
log4j.appender.CORE.file=<%= @ds_taglink_frlogdir %>/cpflogs/TagLinkingCoreCPFLogs.log
log4j.appender.CORE.MaxFileSize=10MB
log4j.appender.CORE.MaxBackupIndex=100
log4j.appender.CORE.append=true
log4j.appender.CORE.layout=org.apache.log4j.PatternLayout
log4j.appender.CORE.layout.ConversionPattern=[%-5p] [%-d] [%t] [%c{2}] - [%m]%n

#
# A2 is a RollingFileAppender
#
log4j.appender.A2=org.apache.log4j.RollingFileAppender
# Redirect this to the proper location
log4j.appender.A2.file=<%= @ds_taglink_frlogdir %>/cpflogs/TagLinkingCPFLogs.log
log4j.appender.A2.MaxFileSize=10MB
# Keep 100 backup files i.e. 1GB logs max
log4j.appender.A2.MaxBackupIndex=100
log4j.appender.A2.append=true
log4j.appender.A2.layout=org.apache.log4j.PatternLayout
log4j.appender.A2.layout.ConversionPattern=[%-5p] [%-d] [%t] [%c{2}] - [%m]%n
#%-5p %d{ISO8601} [%t] - %m%n

#
# JGROUPS is a RollingFileAppender
#
log4j.appender.JGROUPS=org.apache.log4j.RollingFileAppender
# Redirect this to the proper location
log4j.appender.JGROUPS.file=<%= @ds_taglink_frlogdir %>/cpflogs/TagLinkingJGroups.log
log4j.appender.JGROUPS.MaxFileSize=10MB
log4j.appender.JGROUPS.MaxBackupIndex=100
log4j.appender.JGROUPS.append=true
log4j.appender.JGROUPS.layout=org.apache.log4j.PatternLayout
log4j.appender.JGROUPS.layout.ConversionPattern=[%-5p] [%-d] [%t] [%c{2}] - [%m]%n

#
# ISPN is a RollingFileAppender
#
log4j.appender.ISPN=org.apache.log4j.RollingFileAppender
# Redirect this to the proper location
log4j.appender.ISPN.file=<%= @ds_taglink_frlogdir %>/cpflogs/TagLinkingISPN.log
log4j.appender.ISPN.MaxFileSize=10MB
log4j.appender.ISPN.MaxBackupIndex=100
log4j.appender.ISPN.append=true
log4j.appender.ISPN.layout=org.apache.log4j.PatternLayout
log4j.appender.ISPN.layout.ConversionPattern=[%-5p] [%-d] [%t] [%c{2}] - [%m]%n

#Uncomment this if you want to redirect the database performance logs to a separate file.
# PERF is a DailyRollingFileAppender

#log4j.appender.PERF=org.apache.log4j.RollingFileAppender
#log4j.appender.PERF.file=<%= @ds_taglink_frlogdir %>/logs/perf.log
#log4j.appender.PERF.MaxFileSize=10MB
#log4j.appender.PERF.MaxBackupIndex=100
#log4j.appender.PERF.append=true
#log4j.appender.PERF.layout=org.apache.log4j.PatternLayout
#log4j.appender.PERF.layout.ConversionPattern=[%-5p] [%-d] [%t] [%c{2}] - [%m]%n

# ERRORLOG is a DailyRollingFileAppender
log4j.appender.ERRORLOG=org.apache.log4j.DailyRollingFileAppender
# Redirect this to the proper location
log4j.appender.ERRORLOG.file=<%= @ds_taglink_frlogdir %>/cpflogs/TagLinkingERRORLOG.log
log4j.appender.ERRORLOG.Encoding=UTF-8
log4j.appender.ERRORLOG.DatePattern='.'yyyy-MM-dd
log4j.appender.ERRORLOG.append=true
log4j.appender.ERRORLOG.layout=org.apache.log4j.PatternLayout
log4j.appender.ERRORLOG.layout.ConversionPattern=[%-5p] [%-d] [%t] [%c{2}] - [%m]%n
log4j.appender.ERRORLOG.Threshold=ERROR

#
# A3 is a UDPAppender for sending logs as broadcast UDP packets
#

#log4j.appender.A3=org.apache.log4j.net.UDPAppender
#log4j.appender.A3.remoteHost=192.168.15.255
#log4j.appender.A3.port=8881
#log4j.appender.A3.layout=org.apache.log4j.PatternLayout
#log4j.appender.A3.layout.ConversionPattern=%-5p %d{ISO8601} [%t] - %m%n

log4j.additivity.org.jgroups=false
log4j.additivity.org.infinispan=false

log4j.logger.org.jgroups = INFO, JGROUPS
log4j.logger.org.infinispan = INFO, ISPN

log4j.logger.org = ERROR, A1, A2
log4j.logger.httpclient.wire=ERROR,A1,A2
