#Solr database core information
entityServerPath=http://<%= @_trendThemes_entitySolr %>
phrasesServerPath=http://<%= @_trendThemes_phraseSolr %>

#MAKE SURE ONLY ONE OF THE FOLLOWING trendingThemesServerPath PROPERTIES IS UNCOMMENTED
#dev path for new core TrendingThemes
#trendingThemesServerPath=http://env9ds1-l.ca.firstrain.net:7080/solr/TrendingThemes
#staging path for new core TrendingThemes
trendingThemesServerPath=http://<%= @_trendThemes_Solr %>
 
# refers to the last completed day.  Set to the desired day - 1.
defaultFirstDay=5602
defaultDayInterval=7
minCount=5
rankGap12=20
rankGap13=10
entityDimsToProcess=1,3
logger=<%= @_trendThemes_loggerID %>
