<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<properties>
		<property name="appName">TrendingThemes</property>
	
		<property name="testLogPath"><%= @trendThemes_frlogdir %>/logs/testLogs</property>
		<property name="localLogPath"><%= @trendThemes_frlogdir %>/logs</property>
		<property name="stagingLogPath"><%= @trendThemes_frlogdir %>/cpflogs</property>
		<property name="productionLogPath"><%= @trendThemes_frlogdir %>/cpflogs</property>
		
		<property name="maxProdLogFileSize">20MB</property>
		<property name="maxNumProdLogFiles">50</property>
		
		<property name="maxStagingLogFileSize">20MB</property>
		<property name="maxNumStagingLogFiles">50</property>
		
		<property name="maxLocalLogFileSize">10MB</property>
		<property name="maxNumLocalLogFiles">20</property>
		
		<property name="maxTestLogFileSize">5MB</property>
		<property name="maxNumTestLogFiles">10</property>
	</properties>
	
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M] - %msg%n"/>
		</Console>
		<RollingFile name="TestLogs" fileName="${testLogPath}/${appName}.log" filePattern="${testLogPath}/${appName}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxTestLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumTestLogFiles}"/>
		</RollingFile>
		<RollingFile name="LocalLogs" fileName="${localLogPath}/${appName}.log" filePattern="${localLogPath}/${appName}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLocalLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLocalLogFiles}"/>
		</RollingFile>
		<RollingFile name="StagingLogs" fileName="${stagingLogPath}/${appName}.log" filePattern="${stagingLogPath}/${appName}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M] - %msg%xEx%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="${maxStagingLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumStagingLogFiles}"/>
		</RollingFile>
		<RollingFile name="ProductionLogs" fileName="${productionLogPath}/${appName}.log" filePattern="${productionLogPath}/${appName}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M] - %msg%xEx%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="${maxProdLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumProdLogFiles}"/>
		</RollingFile>
	</appenders>
	
	<loggers>
		<root level="info">
			<appender-ref ref="Console"/>
		</root>
		
		<logger name="fatal.console.logger" level="fatal" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="error.console.logger" level="error" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="info.console.logger" level="info" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="debug.console.logger" level="debug" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="trace.console.logger" level="trace" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		
		<logger name="fatal.test.logger" level="fatal" additivity="false">
			<appender-ref ref="TestLogs"/>
		</logger>
		<logger name="error.test.logger" level="error" additivity="false">
			<appender-ref ref="TestLogs"/>
		</logger>
		<logger name="info.test.logger" level="info" additivity="false">
			<appender-ref ref="TestLogs"/>
		</logger>
		<logger name="debug.test.logger" level="debug" additivity="false">
			<appender-ref ref="TestLogs"/>
		</logger>
		<logger name="trace.test.logger" level="trace" additivity="false">
			<appender-ref ref="TestLogs"/>
		</logger>
		
		<logger name="fatal.local.logger" level="fatal" additivity="false">
			<appender-ref ref="LocalLogs"/>
		</logger>
		<logger name="error.local.logger" level="error" additivity="false">
			<appender-ref ref="LocalLogs"/>
		</logger>
		<logger name="info.local.logger" level="info" additivity="false">
			<appender-ref ref="LocalLogs"/>
		</logger>
		<logger name="debug.local.logger" level="debug" additivity="false">
			<appender-ref ref="LocalLogs"/>
		</logger>
		<logger name="trace.local.logger" level="trace" additivity="false">
			<appender-ref ref="LocalLogs"/>
		</logger>
		
		<logger name="fatal.staging.logger" level="fatal" additivity="false">
			<appender-ref ref="StagingLogs"/>
		</logger>
		<logger name="error.staging.logger" level="error" additivity="false">
			<appender-ref ref="StagingLogs"/>
		</logger>
		<logger name="info.staging.logger" level="info" additivity="false">
			<appender-ref ref="StagingLogs"/>
		</logger>
		<logger name="debug.staging.logger" level="debug" additivity="false">
			<appender-ref ref="StagingLogs"/>
		</logger>
		<logger name="trace.staging.logger" level="trace" additivity="false">
			<appender-ref ref="StagingLogs"/>
		</logger>
		
		<logger name="fatal.prod.logger" level="fatal" additivity="false">
			<appender-ref ref="ProductionLogs"/>
		</logger>
		<logger name="error.prod.logger" level="error" additivity="false">
			<appender-ref ref="ProductionLogs"/>
		</logger>
		<logger name="info.prod.logger" level="info" additivity="false">
			<appender-ref ref="ProductionLogs"/>
		</logger>
		<logger name="debug.prod.logger" level="debug" additivity="false">
			<appender-ref ref="ProductionLogs"/>
		</logger>
		<logger name="trace.prod.logger" level="trace" additivity="false">
			<appender-ref ref="ProductionLogs"/>
		</logger>
	</loggers>
</configuration>
