#!/bin/bash
JAVA_HOME=<%= @trendThemes_jdk_home %>
PATH=$JAVA_HOME/bin:$PATH
APP_HOME=<%= @trendThemes_deploy_dir %>
LOGDIR=<%= @trendThemes_frlogdir %>
export PATH JAVA_HOME APP_HOME

cd $APP_HOME

java -Xloggc:$LOGDIR/logs/gclog_tt.txt -Dlog4j.configuration=<%= @trendThemes_deploy_dir %>/conf/log4j2.xml -cp $APP_HOME/trendingthemes-2.0.jar:$APP_HOME/lib/*:$APP_HOME/conf:$APP_HOME com.firstrain.trendingthemes.update.UpdateTrendingThemes

exit 0
