#!/bin/bash
#
JAVA_HOME=<%= @i2a_jdk_home %>
PATH=$JAVA_HOME/bin:$PATH
export PATH JAVA_HOME

java -Xmx1024M -Dlog4j.configuration=file://<%= @i2a_deploy_dir %>/log4j/log4j.properties -Dlogfile.name=<%= @i2a_frlogdir %>/customerwin/logs -Xloggc:<%= @i2a_frlogdir %>/customerwin/logs/gclog.txt -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=<%= @i2a_frlogdir %>/customerwin/logs/ -cp <%= @i2a_deploy_dir %>/I2ASlibs/FRRuleBasedExtraction_CW_PO.jar:<%= @i2a_deploy_dir %>/I2ASlibs/Extractor_lib_old/* com.fr.pivots.CustomerWinLossExtractor <%= @i2a_deploy_dir %>/I2ASCW/config.properties

exit 0
