Type=M&A
docQuery={"inclSearchTokens":"T:CustomerWinsorLosses","startDate":"2015-04-20","endDate":"2015-04-25","numRecords":200,"getDocBody":"true"}
solrQuery=insertTime:[NOW-24HOURS TO NOW] AND catNameAll:"Customer Wins or Losses" AND language:"en"
#docQuery={"siteDocIds":"712152873,712078336,712101439","relevance":"Broad"}
#docQuery={"inclSearchTokens":"709801823","relevance":"Broad"}
inputType=query
inputSource=solrQuery
# documents_M&A
# M&A_Documents
#outputFilePath=D:/DumpLogs/pivot_1/outputsheet.xls
ruleFilePath=<%= @i2a_deploy_dir %>/I2ASCW/CWL_ContractScope.txt,<%= @i2a_deploy_dir %>/I2ASCW/CWL_Duration.txt,<%= @i2a_deploy_dir %>/I2ASCW/CWL_CoRules.txt,<%= @i2a_deploy_dir %>/I2ASCW/CWL_Money.txt
loadLocalNamedEntity=<%= @i2a_deploy_dir %>/I2ASCW/NERNames.txt
coEndingListPath=<%= @i2a_deploy_dir %>/I2ASUtil/endings.txt
solrIndex=http://<%= @_i2a_customerwin_solr %>/solr/customerwin
docIndex=http://<%= @_i2a_doc_solr %>/solr/doc
applyRuleToField=A
logFilePath=<%= @i2a_frlogdir %>/customerwin/logs/customerWin.log
applyGroup=true
applyTagging=true
writeMode=solr
applyTaggedCo=true
extractionOn=title,body,summary
applyTaggingToCo=A,B
UnitValues={"crore|cr":"10000000","billion(s)?|bln|bn|b":"1000000000","million(s)?|mln|mn|m":"1000000","thousand(s)?|k":"1000"}
currencies=AFN,EUR,ALL,DZD,USD,EUR,AOA,XCD,XCD,ARS,AMD,AWG,AUD,EUR,AZN,BSD,BHD,BDT,BBD,BYR,EUR,BZD,XOF,BMD,BTN,INR,BOB,BOV,USD,BAM,BWP,NOK,BRL,USD,BND,BGN,XOF,BIF,KHR,XAF,CAD,CVE,KYD,XAF,XAF,CLF,CLP,CNY,AUD,AUD,COP,COU,KMF,XAF,CDF,NZD,CRC,XOF,HRK,CUC,CUP,ANG,EUR,CZK,DKK,DJF,XCD,DOP,USD,EGP,SVC,USD,XAF,ERN,EUR,ETB,EUR,FKP,DKK,FJD,EUR,EUR,EUR,XPF,EUR,XAF,GMD,GEL,EUR,GHS,GIP,EUR,DKK,XCD,EUR,USD,GTQ,GBP,GNF,XOF,GYD,HTG,USD,AUD,EUR,HNL,HKD,HUF,ISK,INR,IDR,XDR,IRR,IQD,EUR,GBP,ILS,EUR,JMD,JPY,GBP,JOD,KZT,KES,AUD,KPW,KRW,KWD,KGS,LAK,LVL,LBP,LSL,ZAR,LRD,LYD,CHF,LTL,EUR,MOP,MKD,MGA,MWK,MYR,MVR,XOF,EUR,USD,EUR,MRO,MUR,EUR,XUA,MXN,MXV,USD,MDL,EUR,MNT,EUR,XCD,MAD,MZN,MMK,NAD,ZAR,AUD,NPR,EUR,XPF,NZD,NIO,XOF,NGN,NZD,AUD,USD,NOK,OMR,PKR,USD,PAB,USD,PGK,PYG,PEN,PHP,NZD,PLN,EUR,USD,QAR,EUR,RON,RUB,RWF,EUR,SHP,XCD,XCD,EUR,EUR,XCD,WST,EUR,STD,SAR,XOF,RSD,SCR,SLL,SGD,ANG,XSU,EUR,EUR,SBD,SOS,ZAR,SSP,EUR,LKR,SDG,SRD,NOK,SZL,SEK,CHE,CHF,CHW,SYP,TWD,TJS,TZS,THB,USD,XOF,NZD,TOP,TTD,TND,TRY,TMT,USD,AUD,UGX,UAH,AED,GBP,USD,USN,USS,USD,UYI,UYU,UZS,VUV,EUR,VEF,VND,USD,USD,XPF,MAD,YER,ZMK,ZWL,XBA,XBB,XBC,XBD,XFU,XTS,XXX,XAU,XPD,XPT,XAG,AFA,FIM,ALK,ADP,ESP,FRF,AOK,AON,AOR,ARA,ARP,ARY,RUR,ATS,AYM,AZM,RUR,BYB,RUR,BEC,BEF,BEL,BOP,BAD,BRB,BRC,BRE,BRN,BRR,BGJ,BGK,BGL,BUK,CNX,HRD,CYP,CSJ,CSK,ECS,ECV,EQE,GQE,EEK,XEU,FIM,FRF,FRF,FRF,GEK,RUR,DDM,DEM,GHC,GHP,GRD,FRF,GNE,GNS,GWE,GWP,ITL,ISJ,IEP,ILP,ILR,ITL,RUR,RUR,LAJ,LVR,LSM,ZAL,LTT,LUC,LUF,LUL,MGF,MVQ,MAF,MLF,MTL,MTP,FRF,FRF,MXP,RUR,FRF,MZE,MZM,NLG,ANG,NIC,PEH,PEI,PES,PLZ,PTE,FRF,ROK,ROL,RUR,FRF,FRF,FRF,ITL,CSD,EUR,SKK,SIT,ZAL,RHD,ESA,ESB,ESP,SDD,SDP,SRG,CHC,RUR,TJR,IDR,TPE,TRL,TRY,RUR,TMM,UGS,UGW,UAK,SUR,UYN,UYP,RUR,VEB,VNC,YDD,YUD,YUM,YUN,ZRN,ZRZ,ZWC,ZWD,ZWD,ZWN,ZWR,XFO,XRE;
tokenSequence={"A":"awardee Company","B":"awarder Company","C":"Contract Key Verb","c":"Contract Key Verb2","M":"money","S":"scope Detail","s":"scope Keyword","D":"Deal Duration","W":"WinLoss"}
