#!/bin/bash
#
JAVA_HOME=<%= @i2a_jdk_home %>
PATH=$JAVA_HOME/bin:$PATH
export PATH JAVA_HOME

java -cp <%= @i2a_deploy_dir %>/I2AEXR/i2a-exceptionreports.jar:<%= @i2a_deploy_dir %>/I2AEXR/lib/*:<%= @i2a_deploy_dir %>/I2AEXR/conf com.firstrain.i2a.exceptionreports.view.MailReporter 

exit 0
