<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  	<!-- PROPERTIES: constants used throughout this file -->
	<properties>
		<property name="appName">InsightsToAction</property>
	
		<property name="localLogPath">logs</property>
		<property name="productionLogPath"><%= @i2a_frlogdir %>/mergerandacquistion/cpflogs</property>
		
		<property name="maxLogFileSize">20MB</property>
		<property name="maxNumLogFiles">50</property>
		
		<property name="pattern">[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M] - %msg%xEx%n</property>
	</properties>

	<!-- APPENDERS: define where to log messages to -->
	<Appenders>
	
		<!-- Console -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}"/>
		</Console>
		
		<!-- Files -->
		<RollingFile name="LocalLogs" fileName="${localLogPath}/${appName}.log" filePattern="${localLogPath}/${appName}.%i.log">
			<PatternLayout pattern="${pattern}"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
		<RollingFile name="DeployLogs" fileName="${productionLogPath}/${appName}.log" filePattern="${productionLogPath}/${appName}.%i.log">
			<PatternLayout pattern="${pattern}"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
                        <Policies>
                                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                        </Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
	</Appenders>


  	<!-- LOGGERS: define where different packages log to -->
	<Loggers>
    
		<!-- ROOT: This is the default log -->
		<Root level="warn">
			<AppenderRef ref="Console"/>
		</Root>
    
    	<Logger name="org" level="warn" additivity="false">
			<AppenderRef ref="DeployLogs"/>
		</Logger>
		<Logger name="com" level="warn" additivity="false">
			<AppenderRef ref="DeployLogs"/>
		</Logger>

    	<!-- FirstRain -->
		<Logger name="com.firstrain" level="info" additivity="false">
			<AppenderRef ref="DeployLogs"/>
		</Logger>
		<Logger name="com.firstrain.i2a" level="info" additivity="false">
			<AppenderRef ref="DeployLogs"/>
		</Logger>
		<Logger name="com.firstrain.entityinfocache" level="info" additivity="false">
			<AppenderRef ref="DeployLogs"/>
		</Logger>
                <Logger name="com.firstrain.frutils.mentionfinders" level="info" additivity="false">
                        <AppenderRef ref="DeployLogs"/>
                </Logger>
		
	</Loggers>
</Configuration>
