#!/bin/bash
#
JAVA_HOME=<%= @i2a_jdk_home %>
PATH=$JAVA_HOME/bin:$PATH
export PATH JAVA_HOME

java -Xmx2048M -Dlog4j.configurationFile=file://<%= @i2a_deploy_dir %>/log4j/log4j2.xml -Dlogfile.name=<%= @i2a_frlogdir %>/mergerandacquistion/logs -Xloggc:<%= @i2a_frlogdir %>/mergerandacquistion/logs/gclog.txt -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=<%= @i2a_frlogdir %>/mergerandacquistion/logs/ -cp <%= @i2a_deploy_dir %>/I2ASlibs/FRRuleBasedExtraction_MA.jar:<%= @i2a_deploy_dir %>/I2ASlibs/Extractor_lib/*:<%= @i2a_deploy_dir %>/I2ASMA/ com.firstrain.i2a.pivots.MergerAndAcquistionPivotExtractor <%= @i2a_deploy_dir %>/I2ASMA/config.properties

exit 0
