### Solr query ###
solrQuery=updateTime:[NOW-24HOURS TO NOW] AND insertTime:[NOW-1DAY TO NOW] AND catId:(254884 377963 3353232) AND -catId:(634623)
### ###

### IO modes ###
inputSource=solrQuery
writeMode=solr
docType=datascience
### ###

### Rule file paths ####
ruleFilePath=<%= @i2a_deploy_dir %>/I2ASMA/BA_Rules.txt,<%= @i2a_deploy_dir %>/I2ASMA/Money_Rules.txt
phraseRuleFilePath=<%= @i2a_deploy_dir %>/I2ASMA/BA_PhraseExtractionRules.txt
filterRuleFilePath=<%= @i2a_deploy_dir %>/I2ASMA/FilterRules.txt

coEndingListPath=<%= @i2a_deploy_dir %>/I2ASUtil/endings.txt
illegalPhrasesFilePath=<%= @i2a_deploy_dir %>/I2ASMA/illegalPhraseRules.txt
illegalPhraseWordsFilePath=<%= @i2a_deploy_dir %>/illegalPhraseWords.txt
### ###

### Solr paths ###
docIndex=http://<%= @_i2a_dsdoc_solr %>/solr/DSDocs
solrIndex=http://<%= @_i2a_mergerandacquistion_solr %>/solr/mergerandacquistion
### ###

### Configurable properties ###
governmentIndustries=1270844,1270847,1270850
knownLowercaseWords=is,was,be,been,by,will,has,had,to,for,of,with,from,in,into,through,out,it,its,it's,he,she,they,him,her,their,his,her's,their's,both,deal,deals,talk,talks,firm,firms,startup,startups,start-up,start-ups,producer,producers,vendor,vendors,manufacturer,business,businesses,group,groups,division,divisions,million,millions,billion,billions,thousand,thousands,letter,intent,intents,buy,buys,buying,bought,acquire,acquires,acquired,acquiring,acquisition,purchase,purchases,purchased,purchasing,set,announcement,announcements,announce,announces,announced,announcing,close,closes,closed,closing,cut,cuts,cutting,note,notes,noted,noting,say,says,said,saying,advise,advises,advised,approve,approves,approved,approving,approval,identifies,identified,identifying,identify,finalize,finalized,finalizes,finalizing,completes,completed,complete,completing,completion,plans,plan,planned,planning,agreement,agree,agrees,agreeing,receive,receives,receiving,signs,signing,enter,enters,entered,entering,confirm,confirms,confirming,confirmed,continue,continues,continued,continuing,spree,sprees,analyze,analyzes,analyzed,analyzing,represent,represents,represented,representing,bolsters,bolster,bolstering,bolstered,extend,extends,extended,extending,bring,brings,brought,bringing,expand,expands,officially,definitive,definitively,corporate
### ###

### additional currency hooks ###
UnitValues={"crore|cr":"10000000","billion(s)?|bln|bn|b":"1000000000","million(s)?|mln|mn|m":"1000000","thousand(s)?|k":"1000"}
currencies=AFN,EUR,ALL,DZD,USD,EUR,AOA,XCD,XCD,ARS,AMD,AWG,AUD,EUR,AZN,BSD,BHD,BDT,BBD,BYR,EUR,BZD,XOF,BMD,BTN,INR,BOB,BOV,USD,BAM,BWP,NOK,BRL,USD,BND,BGN,XOF,BIF,KHR,XAF,CAD,CVE,KYD,XAF,XAF,CLF,CLP,CNY,AUD,AUD,COP,COU,KMF,XAF,CDF,NZD,CRC,XOF,HRK,CUC,CUP,ANG,EUR,CZK,DKK,DJF,XCD,DOP,USD,EGP,SVC,USD,XAF,ERN,EUR,ETB,EUR,FKP,DKK,FJD,EUR,EUR,EUR,XPF,EUR,XAF,GMD,GEL,EUR,GHS,GIP,EUR,DKK,XCD,EUR,USD,GTQ,GBP,GNF,XOF,GYD,HTG,USD,AUD,EUR,HNL,HKD,HUF,ISK,INR,IDR,XDR,IRR,IQD,EUR,GBP,ILS,EUR,JMD,JPY,GBP,JOD,KZT,KES,AUD,KPW,KRW,KWD,KGS,LAK,LVL,LBP,LSL,ZAR,LRD,LYD,CHF,LTL,EUR,MOP,MKD,MGA,MWK,MYR,MVR,XOF,EUR,USD,EUR,MRO,MUR,EUR,XUA,MXN,MXV,USD,MDL,EUR,MNT,EUR,XCD,MAD,MZN,MMK,NAD,ZAR,AUD,NPR,EUR,XPF,NZD,NIO,XOF,NGN,NZD,AUD,USD,NOK,OMR,PKR,USD,PAB,USD,PGK,PYG,PEN,PHP,NZD,PLN,EUR,USD,QAR,EUR,RON,RUB,RWF,EUR,SHP,XCD,XCD,EUR,EUR,XCD,WST,EUR,STD,SAR,XOF,RSD,SCR,SLL,SGD,ANG,XSU,EUR,EUR,SBD,SOS,ZAR,SSP,EUR,LKR,SDG,SRD,NOK,SZL,SEK,CHE,CHF,CHW,SYP,TWD,TJS,TZS,THB,USD,XOF,NZD,TOP,TTD,TND,TRY,TMT,USD,AUD,UGX,UAH,AED,GBP,USD,USN,USS,USD,UYI,UYU,UZS,VUV,EUR,VEF,VND,USD,USD,XPF,MAD,YER,ZMK,ZWL,XBA,XBB,XBC,XBD,XFU,XTS,XXX,XAU,XPD,XPT,XAG,AFA,FIM,ALK,ADP,ESP,FRF,AOK,AON,AOR,ARA,ARP,ARY,RUR,ATS,AYM,AZM,RUR,BYB,RUR,BEC,BEF,BEL,BOP,BAD,BRB,BRC,BRE,BRN,BRR,BGJ,BGK,BGL,BUK,CNX,HRD,CYP,CSJ,CSK,ECS,ECV,EQE,GQE,EEK,XEU,FIM,FRF,FRF,FRF,GEK,RUR,DDM,DEM,GHC,GHP,GRD,FRF,GNE,GNS,GWE,GWP,ITL,ISJ,IEP,ILP,ILR,ITL,RUR,RUR,LAJ,LVR,LSM,ZAL,LTT,LUC,LUF,LUL,MGF,MVQ,MAF,MLF,MTL,MTP,FRF,FRF,MXP,RUR,FRF,MZE,MZM,NLG,ANG,NIC,PEH,PEI,PES,PLZ,PTE,FRF,ROK,ROL,RUR,FRF,FRF,FRF,ITL,CSD,EUR,SKK,SIT,ZAL,RHD,ESA,ESB,ESP,SDD,SDP,SRG,CHC,RUR,TJR,IDR,TPE,TRL,TRY,RUR,TMM,UGS,UGW,UAK,SUR,UYN,UYP,RUR,VEB,VNC,YDD,YUD,YUM,YUN,ZRN,ZRZ,ZWC,ZWD,ZWD,ZWN,ZWR,XFO,XRE
### ###

### deal value regexes, thresholds ###
deal_value.thousands_currency_regex=(([A-Z][A-Z]?[A-Z]?|Rs)\\s*[\\$\u20AC\u00A3]?|([A-Z][A-Z]?[A-Z]?|Rs)?\\s*[\\$\u20AC\u00A3])\\s*[0-9]+,?[0-9][0-9][0-9]([.,][0-9]+)*(\\s+(yen|pounds|euros|yuan|dollars|crore))?
deal_value.per_share_regex=(([A-Z][A-Z]?[A-Z]?|Rs)\\s*[\\$\u20AC\u00A3]?|([A-Z][A-Z]?[A-Z]?|Rs)?\\s*[\\$\u20AC\u00A3])\\s*[0-9]+(\\.[0-9]+)?\\s+(per|a)\\s+([A-Za-z]+\\s+)?share
deal_value.usd_million_regex=(([A-Z][A-Z]?[A-Z]?|Rs)\\s*[\\$\u20AC\u00A3]?|([A-Z][A-Z]?[A-Z]?|Rs)?\\s*[\\$\u20AC\u00A3])\\s*[0-9]+(\\.[0-9]+)?\\s*(Million|million|mln|mn|M|m|Billion|billion|b|B|bln|bn|Trillion|trillion|trln|trn|T|t)\\b
deal_value.million_dollars_regex=[0-9]+(\\.[0-9]+)?\\s*(Million|million|mln|mn|M|m|Billion|billion|b|B|bln|bn|Trillion|trillion|trln|trn|T|t)\\s+(yen|pounds|euros|yuan|dollars)
deal_value.max_length=40
### ### 
