#!/bin/bash
#
JAVA_HOME=<%= @i2a_jdk_home %>
PATH=$JAVA_HOME/bin:$PATH
MT_HOME=<%= @i2a_deploy_dir %>/I2ASMT
export PATH JAVA_HOME

cd $MT_HOME

java -Xmx2048M -Xloggc:<%= @i2a_frlogdir %>/MT/logs/gclog.txt -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=<%= @i2a_frlogdir %>/MT/logs/ -cp ${MT_HOME}/FRMTAuto_lib/*:${MT_HOME}/FRMTAuto.jar com.firstrain.rungroovy.FRRunGroovyAsJar ${MT_HOME}/config.properties

exit 0

