#Use File Path
#NER file
nerFile=<%= @i2a_deploy_dir %>/I2ASMT/conf/NERNames.txt
mtruleFile=<%= @i2a_deploy_dir %>/I2ASMT/conf/MT.rules.txt
mtruledeptFile=<%= @i2a_deploy_dir %>/I2ASMT/conf/MTDept.rules.txt
corpEndingFile=<%= @i2a_deploy_dir %>/I2ASMT/conf/endings.txt
divisionruleFile=<%= @i2a_deploy_dir %>/I2ASMT/conf/divRule.txt
dateruleFile=<%= @i2a_deploy_dir %>/I2ASMT/conf/DateRule.txt
rulesforDesig=<%= @i2a_deploy_dir %>/I2ASMT/conf/MTRule.properties
cxoDesig=<%= @i2a_deploy_dir %>/I2ASMT/conf/CXODesigMap.properties
solrPath=http://<%= @_i2a_managementturn_solr %>/solr/managmentturn
#outputFile Path
outputMTFile=/fr/deploy/I2ASMT/output/
#logsFile path
logsFile=/frlogdir/MT/logs/
#DB Connection
mi32DBUrl=jdbc:sqlserver://<%= @_i2a_mi32DB %>;DatabaseName=MI32;SelectMethod=direct
miHistoryDBUrl=jdbc:sqlserver:<%= @_i2a_mi32DB %>;DatabaseName=MIHistory;SelectMethod=direct
mi32DBUser=read
mi32DBPassword=me!
mi32DBDriver=com.microsoft.sqlserver.jdbc.SQLServerDriver
deleteSolrData=false
startDate=
endDate=
#docQuery={"inclSearchTokens":"F:ManagementandBoardChanges3","startDate":"2015-05-04","endDate":"2015-05-05","numRecords":2000}
#docQuery={"siteDocIds":"716977818,716976366,716975223,717100071,716950377,716975447,716978195,716977818,716977701,716977393,716978636","getDocBody":"true"}
docSolrQuery=catNameAll:"Management and Board Changes - 3" AND insertTime:[NOW-24HOURS TO NOW]
docSolrServer=http://<%= @i2a_doc_solr %>/solr/doc
