#!/bin/bash
#
JAVA_HOME=<%= @i2a_jdk_home %>
PATH=$JAVA_HOME/bin:$PATH
export PATH JAVA_HOME

java -Xmx2048M -Dlog4j.configuration=file://<%= @i2a_deploy_dir %>/log4j/log4j.properties -Dlogfile.name=<%= @i2a_frlogdir %>/plantopening/logs -Xloggc:<%= @i2a_frlogdir %>/plantopening/logs/gclog.txt -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=<%= @i2a_frlogdir %>/plantopening/logs/ -cp <%= @i2a_deploy_dir %>/I2ASlibs/FRRuleBasedExtraction_CW_PO.jar:<%= @i2a_deploy_dir %>/I2ASlibs/Extractor_lib_old/* com.fr.pivots.PlantOpeningExtractor <%= @i2a_deploy_dir %>/I2ASPO/config.properties 

exit 0
