Type=M&A
#docQuery={"inclSearchTokens":"T:PlantOpenings OR T:CementIndustryNewPlantOpening OR T:NewPlantOpeningManufacturing OR T:ChemicalIndustryPlantConstructionExpansion","startDate":"2015-03-20","endDate":"2015-04-01","numRecords":10000,"getDocBody":"true"}
#docQuery={"siteDocIds":"709611022","relevance":"Broad"}
#solrQuery=id:(708834620)
solrQuery=insertTime:[NOW-24HOURS TO NOW] AND catNameAll:("New Plant Opening - Manufacturing" OR "Cement Industry - New Plant Opening" OR "Chemical Industry - Plant Construction & Expansion" OR "Plant Openings") AND language:"en"
inputType=query
#inputSource=docQuery
inputSource=solrQuery
# documents_M&A
# M&A_Documents
#inputFilePath=D:/DumpLogs/pivot_1/documents_M&A.xls
#inputFilePath=D:/DumpLogs/pivot_1/documents.xls
#outputFilePath=D:/DumpLogs/pivot_1/outputsheet.xls
ruleFilePath=<%= @i2a_deploy_dir %>/I2ASPO/active-passive_rules.txt,<%= @i2a_deploy_dir %>/I2ASPO/capacity_rules.txt,<%= @i2a_deploy_dir %>/I2ASPO/date_rules.txt,<%= @i2a_deploy_dir %>/I2ASPO/job_rules.txt,<%= @i2a_deploy_dir %>/I2ASPO/money_rules.txt,<%= @i2a_deploy_dir %>/I2ASPO/quote_rules.txt
loadLocalNamedEntity=/fr/deploy/I2ASPO/NERNames.txt
#customRuleFilePath=D:/Pivot/PO/custom_Rules.txt
coEndingListPath=<%= @i2a_deploy_dir %>/I2ASUtil/endings.txt
solrIndex=http://<%= @_i2a_plantopening_solr %>/solr/plantopening
docIndex=http://<%= @_i2a_doc_solr %>/solr/doc
applyGroup=true
writeMode=solr
applyTagging=true
extractionOn=title,body
applyRuleToField=C,L,O
applyTaggingToCo=C
logFilePath=<%= @i2a_frlogdir %>/plantopening/logs/plantopening.txt
deleteLogDays=25
UnitValues={"crore|cr":"10000000","billion(s)?|bln|bn|b":"1000000000","million(s)?|mln|mn|m":"1000000","thousand(s)?|k":"1000"}
currencies=AFN,EUR,ALL,DZD,USD,EUR,AOA,XCD,XCD,ARS,AMD,AWG,AUD,EUR,AZN,BSD,BHD,BDT,BBD,BYR,EUR,BZD,XOF,BMD,BTN,INR,BOB,BOV,USD,BAM,BWP,NOK,BRL,USD,BND,BGN,XOF,BIF,KHR,XAF,CAD,CVE,KYD,XAF,XAF,CLF,CLP,CNY,AUD,AUD,COP,COU,KMF,XAF,CDF,NZD,CRC,XOF,HRK,CUC,CUP,ANG,EUR,CZK,DKK,DJF,XCD,DOP,USD,EGP,SVC,USD,XAF,ERN,EUR,ETB,EUR,FKP,DKK,FJD,EUR,EUR,EUR,XPF,EUR,XAF,GMD,GEL,EUR,GHS,GIP,EUR,DKK,XCD,EUR,USD,GTQ,GBP,GNF,XOF,GYD,HTG,USD,AUD,EUR,HNL,HKD,HUF,ISK,INR,IDR,XDR,IRR,IQD,EUR,GBP,ILS,EUR,JMD,JPY,GBP,JOD,KZT,KES,AUD,KPW,KRW,KWD,KGS,LAK,LVL,LBP,LSL,ZAR,LRD,LYD,CHF,LTL,EUR,MOP,MKD,MGA,MWK,MYR,MVR,XOF,EUR,USD,EUR,MRO,MUR,EUR,XUA,MXN,MXV,USD,MDL,EUR,MNT,EUR,XCD,MAD,MZN,MMK,NAD,ZAR,AUD,NPR,EUR,XPF,NZD,NIO,XOF,NGN,NZD,AUD,USD,NOK,OMR,PKR,USD,PAB,USD,PGK,PYG,PEN,PHP,NZD,PLN,EUR,USD,QAR,EUR,RON,RUB,RWF,EUR,SHP,XCD,XCD,EUR,EUR,XCD,WST,EUR,STD,SAR,XOF,RSD,SCR,SLL,SGD,ANG,XSU,EUR,EUR,SBD,SOS,ZAR,SSP,EUR,LKR,SDG,SRD,NOK,SZL,SEK,CHE,CHF,CHW,SYP,TWD,TJS,TZS,THB,USD,XOF,NZD,TOP,TTD,TND,TRY,TMT,USD,AUD,UGX,UAH,AED,GBP,USD,USN,USS,USD,UYI,UYU,UZS,VUV,EUR,VEF,VND,USD,USD,XPF,MAD,YER,ZMK,ZWL,XBA,XBB,XBC,XBD,XFU,XTS,XXX,XAU,XPD,XPT,XAG,AFA,FIM,ALK,ADP,ESP,FRF,AOK,AON,AOR,ARA,ARP,ARY,RUR,ATS,AYM,AZM,RUR,BYB,RUR,BEC,BEF,BEL,BOP,BAD,BRB,BRC,BRE,BRN,BRR,BGJ,BGK,BGL,BUK,CNX,HRD,CYP,CSJ,CSK,ECS,ECV,EQE,GQE,EEK,XEU,FIM,FRF,FRF,FRF,GEK,RUR,DDM,DEM,GHC,GHP,GRD,FRF,GNE,GNS,GWE,GWP,ITL,ISJ,IEP,ILP,ILR,ITL,RUR,RUR,LAJ,LVR,LSM,ZAL,LTT,LUC,LUF,LUL,MGF,MVQ,MAF,MLF,MTL,MTP,FRF,FRF,MXP,RUR,FRF,MZE,MZM,NLG,ANG,NIC,PEH,PEI,PES,PLZ,PTE,FRF,ROK,ROL,RUR,FRF,FRF,FRF,ITL,CSD,EUR,SKK,SIT,ZAL,RHD,ESA,ESB,ESP,SDD,SDP,SRG,CHC,RUR,TJR,IDR,TPE,TRL,TRY,RUR,TMM,UGS,UGW,UAK,SUR,UYN,UYP,RUR,VEB,VNC,YDD,YUD,YUM,YUN,ZRN,ZRZ,ZWC,ZWD,ZWD,ZWN,ZWR,XFO,XRE;
tokenSequence={"C":"Company","G":"Company Gap","V":"Key Verb","co":"Construction Verb","v":"Date Verb","W":"Capacity","T":"Type of Plant","O":"Object","L":"Location","g":"Date Gap","D":"Date of Opening","d":"Date of Completion","M":"Money","J":"Jobs","Q":"Quotes"}
