# Basic config
maSolrUrl=http://<%= @_i2a_mergerandacquistion_solr %>/solr/mergerandacquistion
cwSolrUrl=http://<%= @_i2a_customerwin_solr %>/solr/customerwin
docUrl=http://<%= @_i2a_dsdoc_solr %>/solr/DSDocs
dateQuery=NOW-26HOUR TO NOW

# Email
host=localhost
port=25
targetEmail=<%= @_i2a_target_emailaddr %>
