#!/bin/bash
#
WAIT_PERIOD=180

<%= @i2a_deploy_dir %>/I2Abin/cw.sh > <%= @i2a_frlogdir %>/customerwin/logs/stdout.txt 2>&1
if [ $? != 0 ]; then  
    echo "Error CustomerWin report failed to complete without errors"
fi

<%= @i2a_deploy_dir %>/I2Abin/ma.sh > <%= @i2a_frlogdir %>/mergerandacquistion/logs/stdout.txt 2>&1
if [ $? != 0 ]; then  
    echo "Error Merger And Acquistion report failed to complete without errors"
fi

sleep $WAIT_PERIOD
<%= @i2a_deploy_dir %>/I2Abin/i2Aexception.sh > <%= @i2a_frlogdir %>/mergerandacquistion/logs/exceptReportOut.txt 2>&1

exit 0
