#!/bin/bash
#
JAVA_HOME=<%= @i2a_jdk_home %>
PATH=$JAVA_HOME/bin:$PATH
export PATH JAVA_HOME

java -Xmx1024M -jar <%= @i2a_deploy_dir %>/I2ASMT/FRMTAuto.jar <%= @i2a_deploy_dir %>/I2ASMT/config.properties

exit 0
