[Unit]
Description=frcompanydiscovery daemon

[Service]
Type=forking
PIDFile=<%= @ds_companydis_frlogdir %>/logs/dpf.pid
ExecStart=<%= @ds_companydis_deploy_dir %>/bin/startup.sh
ExecStop=<%= @ds_companydis_deploy_dir %>/bin/shutdown.sh
TimeoutStartSec=30
TimeoutStopSec=310
SuccessExitStatus=0 SIGKILL SIGTERM
StandardOutput=syslog
StandardError=syslog

User=<%= @_ds_companydis_user %>
Group=<%= @_ds_companydis_group %>

[Install]
WantedBy=multi-user.target
