<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<properties>
		<property name="dpfName">DataProcessingFramework</property>
		<property name="companyDiscovery">CompanyDiscoveryPipeline</property>
		
		<property name="logPath"><%= @ds_companydis_frlogdir %>/dpflogs</property>
		
		<property name="maxLogFileSize">20MB</property>
		<property name="maxNumLogFiles">50</property>
	</properties>
	
	<appenders>
		<Console name="ConsoleDPF" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${dpfName} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsDPF" fileName="${logPath}/${dpfName}.log" filePattern="${logPath}/${dpfName}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
		
		<Console name="ConsoleCompanyDiscovery" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${companyDiscovery} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsCompanyDiscovery" fileName="${logPath}/${companyDiscovery}.log" filePattern="${logPath}/${companyDiscovery}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>

	</appenders>
	
	<loggers>
		<root level="info">
			<appender-ref ref="ConsoleDPF"/>
		</root>
		
		<!-- DataProcessingFramework loggers -->
		<logger name="info.console.logger.dpf" level="info" additivity="false">
			<appender-ref ref="ConsoleDPF"/>
		</logger>
		<logger name="trace.console.logger.dpf" level="trace" additivity="false">
			<appender-ref ref="ConsoleDPF"/>
		</logger>
		
		<logger name="error.file.logger.dpf" level="error" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		<logger name="info.file.logger.dpf" level="info" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		<logger name="trace.file.logger.dpf" level="trace" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		
                <!-- Company Discovyer loggers -->
                <logger name="error.file.logger.ltwtcompanytagging" level="error" additivity="false">
                        <appender-ref ref="LogsCompanyDiscovery"/>
                </logger>
                <logger name="info.file.logger.ltwtcompanytagging" level="info" additivity="false">
                        <appender-ref ref="LogsCompanyDiscovery"/>
                </logger>
                <logger name="trace.file.logger.ltwtcompanytagging" level="trace" additivity="false">
                        <appender-ref ref="LogsCompanyDiscovery"/>
                </logger>
	</loggers>
</configuration>
