<?xml version="1.0" encoding="UTF-8"?>
<pipeline name="LtWtCompanyTaggingDSPipeline">
    <numThreads>3</numThreads>
    <queueSize>1000</queueSize>
    <databaseInfo>
        <type>solr</type>
        <oldSolr>true</oldSolr>
        <path><%= @_ds_companydis_dsdocs_solr_url %>/solr/doc/</path>
        <name></name>
        <userName></userName>
        <password></password>
    </databaseInfo>
    <queryInfo>
        <query>*:*</query>
        <querySize>50</querySize>
        <filter></filter>
        <sortField>dsdocid</sortField>
        <sortAsc>true</sortAsc>
        <sortFieldStartValue><%= @_ds_companydis_start_site_doc_id %></sortFieldStartValue>
        <sortFieldEndValue></sortFieldEndValue>
        <numRecsToEndAfter></numRecsToEndAfter>
        <returnField>dsdocid</returnField>
        <returnField>id</returnField>
        <returnField>groupId</returnField>
        <returnField>insertTime</returnField>
        <returnField>title</returnField>
        <returnField>body</returnField>
        <returnField>catIdAll</returnField>
        <returnField>companyName</returnField>
    </queryInfo>
    <processorInfo>
        <className>com.firstrain.companydiscovery.pipeline.LtWtCompanyTaggingProcessor</className>
        <order>1</order>
        <type>record</type>
        <loggerName>info.file.logger.ltwtcompanytagging</loggerName>
	<configParam>companyModelSolr=<%= @_ds_companydis_other_solr_url %>/solr/companymodel/</configParam>
	<configParam>topicWorkbenchUrl=<%= @_ds_companydis_mysql_tw %></configParam>
	<configParam>entityCoreSolr=<%= @ds_companydis_entity_solr_url %>/solr/entity/</configParam> 

        <configParam>useMultiThreading=false</configParam>
        <configParam>cacheLocation=/frdata/entityInfoCache</configParam>
        <configParam>cacheUpdateInterval=864000</configParam>
        <configParam>devMode=true</configParam>
        <configParam>useDsDocCore=false</configParam>
        <configParam>dataScienceDatabase=<%= @_ds_companydis_dbhost %></configParam>
        <configParam>dataScienceUserName=<%= @_ds_companydis_dbuser %></configParam>
        <configParam>dataSciencePassWord=<%= @_ds_companydis_dbpass %></configParam>
    </processorInfo>
    <processorInfo>
        <className>com.firstrain.companydiscovery.pipeline.DocModifierProcessor</className>
        <order>2</order>
        <type>record</type>
        <loggerName>info.file.logger.ltwtcompanytagging</loggerName>
        <configParam>saveExtractedCompanyPhrasesToFrStorage=true</configParam>
        <configParam>frStorageInputUrl=<%= @_ds_companydis_storage_service %>/frstorageservice/extendmetav1.json</configParam>
        <configParam>saveExtractedCompanyPhrases=false</configParam>
        <configParam>writeToMI32=true</configParam>
        <configParam>writeToFile=false</configParam>
        <configParam>commitInterval=100</configParam>
        <configParam>updateApiPath=<%= @_ds_companydis_api_url %>/frtoolsservice/Document/updateDocMetaData</configParam>
    </processorInfo>   
</pipeline>
