#!/bin/bash

#Start script for the Data Processing Framework

JAVA_HOME=<%= @ds_companydis_jdk_dir %>
PATH=$JAVA_HOME/bin:$PATH
DPF_HOME=<%= @ds_companydis_deploy_dir %>
LOGDIR=<%= @ds_companydis_frlogdir %>

PIDFILE=${LOGDIR}/logs/dpf.pid

export PATH JAVA_HOME DPF_HOME

cd $DPF_HOME

#java -Xloggc:$LOGDIR/logs/gclog_dpf.txt -Xms<%= @_ds_companydis_min_mem %> -Xmx<%= @_ds_companydis_max_mem %> -Dlog4j.configuration=file://<%= @ds_companydis_deploy_dir %>/conf/log4j2.xml -Dcom.sun.management.jmxremote.port=<%= @_ds_companydis_jmxport %> -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false -cp $DPF_HOME/dpf.jar:$DPF_HOME/lib/*:$DPF_HOME/conf:$DPF_HOME com.firstrain.dpf.DataProcessingApplication > ${LOGDIR}/logs/stdout.txt 2>&1 &
#
java -Xloggc:$LOGDIR/logs/gclog_dpf.txt -Xms<%= @_ds_companydis_min_mem %> -Xmx<%= @_ds_companydis_max_mem %> -Dlog4j.configuration=file://<%= @ds_companydis_deploy_dir %>/conf/log4j2.xml -cp $DPF_HOME/dpf.jar:$DPF_HOME/lib/*:$DPF_HOME/conf:$DPF_HOME com.firstrain.dpf.DataProcessingFramework > ${LOGDIR}/logs/stdout.txt 2>&1 &

sleep 5
ps -ef | grep <%= @ds_companydis_app_name %> | grep -v grep | grep java | awk '{print $2}' > $PIDFILE

exit 0
