#!/bin/bash
#
# Script to be used for automatic start/stop of the <%= @ds_pennwellphrases_app_name %> process
#
# chkconfig: 345 80 20
#

ACTION=$1
HDIR=<%= @ds_pennwellphrases_deploy_dir %>
BINDIR=<%= @ds_pennwellphrases_deploy_dir %>/bin
APPUSER=<%= @_ds_pennwellphrases_user %>
LOGDIR=<%= @ds_pennwellphrases_frlogdir %>
UNAME=`/usr/bin/whoami`
USAGE="${0} (start|stop|restart|status)"

function start
{
    echo "Starting <%= @ds_pennwellphrases_app_name %> process"

    if [ "$UNAME" == "$APPUSER" ]; then
	$HDIR/bin/startup.sh
    else
        cd $BINDIR
        su $APPUSER -c "/bin/sh startup.sh"
    fi

    if [ "$?" == "0" ]; then
	sleep 10
	pid=`cat ${LOGDIR}/logs/dpf.pid`
	echo "Successfully started the tomcat server, pid = $pid"
    else
	echo "Start error, check logfiles under $LOGDIR/logs/stdout.txt"
    fi

}

function stop 
{
    if [ "$UNAME" == "$APPUSER" ]; then
        $HDIR/bin/shutdown.sh
    else
        cd $BINDIR
        su $APPUSER -c "/bin/sh shutdown.sh"
    fi
}

################################################
## MAIN
################################################

if [ $ACTION == "start" ]; then
    start

elif [ $ACTION == "stop" ]; then
    stop

elif [ $ACTION == "restart" ]; then
    stop
    start

elif [ $ACTION == "status" ]; then

    if [ -f $LOGDIR/logs/dpf.pid ]; then
        pid=`cat $LOGDIR/logs/dpf.pid`
    else
        pid=`ps -ef | grep <%= @ds_pennwellphrases_app_name %> | grep java | grep -v grep | awk '{print $2}'`
    fi
    
    if [ ! -z ${pid} ]; then
        pcnt=`ps -ef | grep -v grep | egrep -c ${pid}`
        if [ "$pcnt" -eq "0" ]; then
           echo "<%= @ds_pennwellphrases_app_name %> process is not running"
        else
           echo "<%= @ds_pennwellphrases_app_name %> process is running"
        fi
    else
       echo "<%= @ds_pennwellphrases_app_name %> process is not running"
    fi

else 
    echo "Error - unknown option passed"
    echo "$USAGE: (start|stop|restart|status)"
fi

exit 0
