[Unit]
Description=frextractedpharases daemon

[Service]
Type=forking
PIDFile=<%= @ds_pennwellphrases_frlogdir %>/logs/dpf.pid
ExecStart=<%= @ds_pennwellphrases_deploy_dir %>/bin/startup.sh
ExecStop=<%= @ds_pennwellphrases_deploy_dir %>/bin/shutdown.sh
TimeoutStartSec=30
TimeoutStopSec=310
SuccessExitStatus=0 SIGKILL SIGTERM
StandardOutput=syslog
StandardError=syslog

User=<%= @_ds_pennwellphrases_user %>
Group=<%= @_ds_pennwellphrases_group %>

[Install]
WantedBy=multi-user.target
