<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" shutdownHook="disable">
	<properties>
		<property name="dpfName">DataProcessingFramework</property>
		<property name="pennwellPhrases">PennwellPhrasesPipeline</property>
		<property name="pennwellPhrasesHist">PennwellPhrasesHistoricalPipeline</property>
		<property name="pennwellPhrasesErrors">PennwellPhrasesErrors</property>
		
		<property name="logPath"><%= @ds_pennwellphrases_frlogdir %>/dpflogs</property>
		
		<property name="maxLogFileSize">20MB</property>
		<property name="maxNumLogFiles">50</property>
	</properties>
	
	<appenders>
		<Console name="ConsoleDPF" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${dpfName} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsDPF" fileName="${logPath}/${dpfName}.log" filePattern="${logPath}/${dpfName}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
		
		<Console name="ConsolePennwellPhrases" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${pennwellPhrases} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsPennwellPhrases" fileName="${logPath}/${pennwellPhrases}.log" filePattern="${logPath}/${pennwellPhrases}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
		
		<Console name="ConsolePennwellPhrasesHist" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${pennwellPhrasesHist} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsPennwellPhrasesHist" fileName="${logPath}/${pennwellPhrasesHist}.log" filePattern="${logPath}/${pennwellPhrasesHist}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
		
		<Console name="ConsolePennwellPhrasesErrors" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${pennwellPhrasesErrors} %-5level %class{36} %L %M (%t)] - %msg%n"/>
		</Console>
		<RollingFile name="LogsPennwellPhrasesErrors" fileName="${logPath}/${pennwellPhrasesErrors}.log" filePattern="${logPath}/${pennwellPhrasesErrors}.%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M (%t)] - %msg%xEx%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${maxLogFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="${maxNumLogFiles}"/>
		</RollingFile>
	</appenders>
	
	<loggers>
		<root level="info">
			<appender-ref ref="ConsoleDPF"/>
		</root>
		
		<!-- DataProcessingFramework loggers -->
		<logger name="info.console.logger.dpf" level="info" additivity="false">
			<appender-ref ref="ConsoleDPF"/>
		</logger>
		<logger name="trace.console.logger.dpf" level="trace" additivity="false">
			<appender-ref ref="ConsoleDPF"/>
		</logger>
		
		<logger name="error.file.logger.dpf" level="error" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		<logger name="info.file.logger.dpf" level="info" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		<logger name="trace.file.logger.dpf" level="trace" additivity="false">
			<appender-ref ref="LogsDPF"/>
		</logger>
		
		<!-- Pennwell Phrases loggers -->
		<logger name="info.console.logger.pennwellPhrases" level="info" additivity="false">
			<appender-ref ref="ConsolePennwellPhrases"/>
		</logger>
		<logger name="trace.console.logger.pennwellPhrases" level="trace" additivity="false">
			<appender-ref ref="ConsolePennwellPhrases"/>
		</logger>
		
		<logger name="error.file.logger.pennwellPhrases" level="error" additivity="false">
			<appender-ref ref="LogsPennwellPhrases"/>
		</logger>
		<logger name="info.file.logger.pennwellPhrases" level="info" additivity="false">
			<appender-ref ref="LogsPennwellPhrases"/>
		</logger>
		<logger name="trace.file.logger.pennwellPhrases" level="trace" additivity="false">
			<appender-ref ref="LogsPennwellPhrases"/>
		</logger>
		
		<!-- Pennwell Phrases Historical loggers -->
		<logger name="info.console.logger.pennwellPhrasesHistorical" level="info" additivity="false">
			<appender-ref ref="ConsolePennwellPhrasesHist"/>
		</logger>
		<logger name="trace.console.logger.pennwellPhrasesHistorical" level="trace" additivity="false">
			<appender-ref ref="ConsolePennwellPhrasesHist"/>
		</logger>
		
		<logger name="error.file.logger.pennwellPhrasesHistorical" level="error" additivity="false">
			<appender-ref ref="LogsPennwellPhrasesHist"/>
		</logger>
		<logger name="info.file.logger.pennwellPhrasesHistorical" level="info" additivity="false">
			<appender-ref ref="LogsPennwellPhrasesHist"/>
		</logger>
		<logger name="trace.file.logger.pennwellPhrasesHistorical" level="trace" additivity="false">
			<appender-ref ref="LogsPennwellPhrasesHist"/>
		</logger>
		
		<!-- Pennwell Phrases Errors loggers -->
		<logger name="info.console.logger.pennwellPhrasesErrors" level="info" additivity="false">
			<appender-ref ref="ConsolePennwellPhrasesErrors"/>
		</logger>
		<logger name="trace.console.logger.pennwellPhrasesErrors" level="trace" additivity="false">
			<appender-ref ref="ConsolePennwellPhrasesErrors"/>
		</logger>
		
		<logger name="error.file.logger.pennwellPhrasesErrors" level="error" additivity="false">
			<appender-ref ref="LogsPennwellPhrasesErrors"/>
		</logger>
		<logger name="info.file.logger.pennwellPhrasesErrors" level="info" additivity="false">
			<appender-ref ref="LogsPennwellPhrasesErrors"/>
		</logger>
		<logger name="trace.file.logger.pennwellPhrasesErrors" level="trace" additivity="false">
			<appender-ref ref="LogsPennwellPhrasesErrors"/>
		</logger>
	</loggers>
</configuration>
