<?xml version="1.0" encoding="UTF-8"?>
<pipeline name="PennwellPhrasesHistoricalPipeline">
    <numThreads>8</numThreads>
    <queueSize>500</queueSize>
    <databaseInfo>
        <type>sql</type>
        <oldSolr>false</oldSolr>
        <path><%= @_ds_pennwellphrases_mi32 %></path>
        <name>MI32</name>
        <userName><%= @_ds_pennwellphrases_mi32_user %></userName>
        <password><%= @_ds_pennwellphrases_mi32_passwd %></password>
    </databaseInfo>
    <queryInfo>
        <query>select top 100 sdv.site_doc_id, sdv.doc_title, sdv.doc_summary, dd.doc_body from fr_site_doc_view sdv with (nolock), fr_doc_details dd with (nolock) where sdv.doc_id = dd.doc_id and sdv.flag_deleted = 0 and sdv.site_doc_id > @sortfield@ order by sdv.site_doc_id asc</query>
        <querySize></querySize>
        <filter></filter>
        <sortField>site_doc_id</sortField>
        <sortAsc>true</sortAsc>
        <sortFieldStartValue>761791830</sortFieldStartValue>
        <sortFieldEndValue></sortFieldEndValue>
        <numRecsToEndAfter>9273809</numRecsToEndAfter>
        <returnField></returnField>
   </queryInfo>
   <processorInfo>
       <className>com.firstrain.pennwellphrases.processor.PennwellPhrasesProcessor</className>
       <order>1</order>
       <type>record</type>
       <loggerName>info.file.logger.pennwellPhrasesHistorical</loggerName>
       <configParam>errorLogger=info.file.logger.pennwellPhrasesErrors</configParam>
       <configParam>maxTotalHttpConnections=8</configParam>
       <configParam>httpConnectionTimeout=30000</configParam>
       <configParam>httpSoTimeout=30000</configParam>
       <configParam>metadataServiceNumAttempts=30</configParam>
       <configParam>metadataServiceDelayInSecs=30</configParam>
       <configParam>metadataServiceUrl=<%= @_ds_pennwellphrases_meta_url %></configParam>
       <configParam>metadataIDParam=objectid</configParam>
       <configParam>metadataResultParam=needResultJson</configParam>
       <configParam>metadataResultBooleanValue=true</configParam>
       <configParam>metadataReplaceParam=replace</configParam>
       <configParam>metadataReplaceBooleanValue=true</configParam>
       <configParam>metadataScopeParam=scope</configParam>
       <configParam>metadataScopeValue=ng</configParam>
       <configParam>metadataDataParam=value</configParam>
       <configParam>metadataIDPrepend=D:</configParam>
       <configParam>numSents=50</configParam>
       <configParam>maxNgramSize=5</configParam>
       <configParam>startFromChunkedPhrases=false</configParam>
       <configParam>includeDates=true</configParam>
       <configParam>includeNumbers=false</configParam>
       <configParam>includeDesignations=false</configParam>
       <configParam>numCommonWords=500</configParam>
       <configParam>useCommonWordExceptions=true</configParam>
       <configParam>useExtendedStopwords=true</configParam>
   </processorInfo>
</pipeline>
